<!-- Boostrap multiselect -->
<link rel="stylesheet" href="./view/sho-hce/sp4_accidentes_trabajo/css/bootstrap-multiselect.css" type="text/css"/>
<link rel="stylesheet" href="./view/sho-hce/sp4_accidentes_trabajo/css/sho.css">
<!-- <link rel="stylesheet" href="css/sweetalert2.css"> -->

<div class="container main-content">
  <div>
    <!-- Titulos  -->
    <div class="row mb-5 d-flex justify-content-between align-items-center">
      <div class="p-2 mr-auto">
        <span class="titulo">Accidentes de Trabajo</span>
      </div>
      <div class="p-2">
        <span class="subtitulo"> Mostrar datos </span>
        <!-- <span class="subtitulo"> Ocultar datos </span> -->
      </div>
    </div>
    <!-- Titulos  -->
    <!-- Datos del paciente -->
    <div class="row d-flex align-items-center">
      <div class="col-md-6">
        <img class="img-perfil mr-4" src="images/1-thumb.png">
        <span class="titulo">Erick Brian Arrasco Guevara</span>
      </div>
      <div class="col-md-3 pl-5">
        <span class="subtitulo">Ver datos completos</span>
      </div>
      <div class="col-md-3">
        <button class="btn btn-success btn-block btn-lg" type="button">
          Nueva atención 
          <img class="inject-svg" src="./images/sho/plus.svg" alt="" fill="#fff" width="18px">
        </button>
      </div>
    </div>
    <hr class="mt-4">
    <!-- Datos del paciente -->
    <!-- Accidente de trabajo button -->
    <div class="row mb-5 d-flex align-items-center">
      <div class="col-md-6 col-sm-6 mr-auto p-2">
        <span class="titulo">Accidente de trabajo 1</span>
      </div>
      <div class="col-md-2 col-sm-6  p-2">
        <button type="button" class="btn btn-success btn-block btn-lg"> 
          Nuevo registro 
          <img class="inject-svg" src="./images/sho/plus.svg" alt="" fill="#fff" width="18px">
        </button>
      </div>
    </div>
    <!-- Accidente de trabajo button fin -->
    <!-- Tabla -->
    <div class="row mb-5">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table-box" id="table_dat_actrab_sp4">
            <thead>
              <tr>
                <th>Accidente de trabajo</th>
                <th>F. registro </th>
                <th>F. Accidente</th>
                <th>Hora Accidente</th>
                <th>Diagnostico</th>
                <th>Estado</th>
                <th></th>
              </tr>
            </thead>
            <tbody id="content_dat_actrab_sp4">
              <td>Accidente</td>
              <td>10/02/2021</td>
              <td>20/02/2021</td>
              <td>10:12</td>
              <td>Diagnostico 1</td>
              <td>Abierto</td>
              <td>
                <div class="dropdown dropleft">
                  <a class="nav-link text-vertical" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    ...
                  </a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item">
                          <img src="./images/sho/download.svg" alt="" fill="#207345">
                          &nbsp;&nbsp; Descargar IAT
                        </a>
                        <a class="dropdown-item">
                          <img src="./images/sho/edit.svg" alt="" fill="#8fbb02"> 
                          &nbsp;&nbsp;Editar
                        </a>
                  </div>
                </div>
              </td>             
            </tbody>
          </table>
        </div>
      </div> 
    </div>     
    <!-- Tabla fin -->
    <!-- Nav-tabs -->
    <div class="row mb-5">
      <div class="col-md-12">
        <ul class="nav nav-pills mb-5" id="myTab" role="tablist">
          <li class="nav-item  mb-3">
            <a class="nav-link active" id="des_med-tab" data-toggle="tab" href="#des_med" role="tab" aria-controls="des_med" aria-selected="true">Descanso médico</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="transf-tab" data-toggle="tab" href="#transf" role="tab" aria-controls="transf" aria-selected="false">Transferencias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="reg_seg-tab" data-toggle="tab" href="#reg_seg" role="tab" aria-controls="reg_seg" aria-selected="false">Registro de seguimiento</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="alt_esp-tab" data-toggle="tab" href="#alt_esp" role="tab" aria-controls="alt_esp" aria-selected="false">Altas de especialidades</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="infor_med-tab" data-toggle="tab" href="#infor_med" role="tab" aria-controls="infor_med" aria-selected="false">Informes médicos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="exam_aux-tab" data-toggle="tab" href="#exam_aux" role="tab" aria-controls="exam_aux" aria-selected="false">Examenes auxiliares</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="eval_post-tab" data-toggle="tab" href="#eval_post" role="tab" aria-controls="eval_post" aria-selected="false">Evaluaciones post alta médica</a>
          </li>
        </ul>
        <div class="tab-content mt-5" id="myTabContent">
          <!-- Descanso medico -->    
          <div class="tab-pane fade show active" id="des_med" role="tabpanel" aria-labelledby="des_med-tab">
            <!-- Nro de registros -->
            <div class="col-md-12">
              <div class="d-flex justify-content-end">
                <div id="cant_planes">
                  <img src="images/iconos/copia-1.svg" style="width: 20px" />
                </div>
                <span class="cantidad ml-3" style="font-size: 15px">1 registros</span>
              </div>
            </div>

            <div class="table-responsive">
              <table class="table-box" id="table_actrab_sp4__des_med">
                <thead>
                  <tr>
                    <th>F. Inicio</th>
                    <th>F. Fin</th>
                    <th>Dias</th>
                    <th>Dias acumulados</th>
                    <th>Diagnóstico</th>
                    <th>Tipo de contingencia</th>                    
                    <th>Estableacimiento de emisión</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody id="content_actrab_sp4__des_med">
                  <tr>
                    <td>10/02/2021</td>
                    <td>10/02/2021</td>
                    <td>1</td>
                    <td>1</td>                  
                    <td>Diagnostico 1</td>
                    <td>Tipo 1</td>                                        
                    <td>Establecimiento 1</td>                    
                    <td>
                      <div class="dropdown dropleft">
                        <a class="nav-link text-vertical" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          ...
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item">
                                <img src="./images/sho/eyeIcon.svg" alt="" fill="#01719d">
                                &nbsp;&nbsp; Ver descanso
                              </a>
                              <!-- <a class="dropdown-item">
                                <img src="./images/sho/edit.svg" alt="" fill="#8fbb02"> 
                                &nbsp;&nbsp;Editar
                              </a> -->
                        </div>
                      </div>                      
                    </td>
                  </tr>  
                </tbody>
              </table>
            </div>                        
          </div>
          <!-- Descanso medico fin-->

          <!-- Transferencias -->    
          <div class="tab-pane fade" id="transf" role="tabpanel" aria-labelledby="transf-tab">
            <!-- Nro de registros -->
            <div class="col-md-12">
              <div class="d-flex justify-content-end">
                <div id="cant_planes">
                  <img src="images/iconos/copia-1.svg" style="width: 20px" />
                </div>
                <span class="cantidad ml-3" style="font-size: 15px">1 registros</span>
              </div>
            </div>             

            <div class="table-responsive">
              <table class="table-box" id="table_actrab_sp4_transf">
                <thead>
                  <tr>
                    <th>Informe</th>
                    <th>Establecimiento</th>
                    <th>Fecha de transferencia</th>
                    <th>Diagnóstico especialista </th>
                    <!-- <th>Diagnóstico</th> -->
                    <!-- <th>Tipo de contingencia</th>                     -->
                    <!-- <th>Estableacimiento de emisión</th> -->
                    <!-- <th></th> -->
                  </tr>
                </thead>
                <tbody id="content_actrab_sp4_transf">
                  <tr>
                    <td>Informe 1</td>
                    <td>Establecimiento 1</td>
                    <td>12/9/2021</td>
                    <td>Diagnóstico 1</td>                  
                    <!-- <td>Diagnostico 1</td> -->
                    <!-- <td>Tipo 1</td>                                         -->
                    <!-- <td>Establecimiento 1</td>                     -->
                    <!-- <td>
                      <div class="dropdown dropleft">
                        <a class="nav-link text-vertical" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          ...
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item">
                                <img src="./images/sho/eyeIcon.svg" alt="" fill="#01719d">
                                &nbsp;&nbsp; Ver descanso
                              </a>
                              <a class="dropdown-item">
                                <img src="./images/sho/edit.svg" alt="" fill="#8fbb02"> 
                                &nbsp;&nbsp;Editar
                              </a>
                        </div>
                      </div>                      
                    </td> -->
                  </tr>  
                </tbody>
              </table>
            </div>            
          </div>
          <!-- Transferencias fin -->

          <!-- Registro de seguimiento -->    
          <div class="tab-pane fade" id="reg_seg" role="tabpanel" aria-labelledby="reg_seg-tab">
            <!-- Nro de registros -->
            <div class="col-md-12">
              <div class="d-flex justify-content-end">
                <div id="cant_planes">
                  <img src="images/iconos/copia-1.svg" style="width: 20px" />
                </div>
                <span class="cantidad ml-3" style="font-size: 15px">1 registros</span>
              </div>
            </div>             

            <div class="table-responsive">
              <table class="table-box" id="table_actrab_sp4_reg_seg">
                <thead>
                  <tr>
                    <th>F. Seguimiento</th>
                    <th>Hora Seguimiento</th>
                    <th>Comentario</th>
                    <!-- <th>Dias acumulados</th> -->
                    <!-- <th>Diagnóstico</th> -->
                    <!-- <th>Tipo de contingencia</th>                     -->
                    <!-- <th>Estableacimiento de emisión</th> -->
                    <!-- <th></th> -->
                  </tr>
                </thead>
                <tbody id="content_actrab_sp4_reg_seg">
                  <tr>
                    <td>10/02/2021</td>
                    <td>1:30 P.M.</td>
                    <td>Comentario 1</td>                  
                    <!-- <td>10/02/2021</td> -->
                    <!-- <td>Diagnostico 1</td> -->
                    <!-- <td>Tipo 1</td>                                         -->
                    <!-- <td>Establecimiento 1</td>                     -->
                    <!-- <td>
                      <div class="dropdown dropleft">
                        <a class="nav-link text-vertical" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          ...
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item">
                                <img src="./images/sho/eyeIcon.svg" alt="" fill="#01719d">
                                &nbsp;&nbsp; Ver descanso
                              </a>
                              <a class="dropdown-item">
                                <img src="./images/sho/edit.svg" alt="" fill="#8fbb02"> 
                                &nbsp;&nbsp;Editar
                              </a>
                        </div>
                      </div>                      
                    </td> -->
                  </tr>  
                </tbody>
              </table>
            </div>             
          </div> 
          <!-- Registro de seguimiento fin -->

          <div class="tab-pane fade" id="alt_esp" role="tabpanel" aria-labelledby="alt_esp-tab">
            <!-- Nro de registros -->
            <div class="col-md-12">
              <div class="d-flex justify-content-end">
                <div id="cant_planes">
                  <img src="images/iconos/copia-1.svg" style="width: 20px" />
                </div>
                <span class="cantidad ml-3" style="font-size: 15px">1 registros</span>
              </div>
            </div>             

            <div class="table-responsive">
              <table class="table-box" id="table_actrab_sp4_alt_esp">
                <thead>
                  <tr>
                    <th>Diagnóstico</th>
                    <th>Documentos escaneados</th>
                    <th>F. Alta</th>
                    <th>RNE Especialista</th>
                    <th>Nombre del Especialista</th>                  
                    <!-- <th></th> -->
                    <!-- <th>Tipo de contingencia</th>                     -->
                    <!-- <th>Estableacimiento de emisión</th> -->
                    <!-- <th></th> -->
                  </tr>
                </thead>
                <tbody id="content_actrab_sp4_alt_esp">
                  <tr>
                    <td>Diagnostico 1</td>
                    <td>Documentos</td>
                    <td>10/02/2021</td>
                    <td>Especialista 1</td>
                    <td>Erick Arrasco Guevara</td>                  
                    <!-- <td>10/02/2021</td> -->
                    <!-- <td>Tipo 1</td>                                         -->
                    <!-- <td>Establecimiento 1</td>                     -->
                    <!-- <td>
                      <div class="dropdown dropleft">
                        <a class="nav-link text-vertical" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          ...
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item">
                                <img src="./images/sho/eyeIcon.svg" alt="" fill="#01719d">
                                &nbsp;&nbsp; Ver descanso
                              </a>
                              <a class="dropdown-item">
                                <img src="./images/sho/edit.svg" alt="" fill="#8fbb02"> 
                                &nbsp;&nbsp;Editar
                              </a>
                        </div>
                      </div>                      
                    </td> -->
                  </tr>  
                </tbody>
              </table>
            </div>             
          </div>
          <div class="tab-pane fade" id="infor_med" role="tabpanel" aria-labelledby="infor_med-tab">
            <!-- Nro de registros -->
            <div class="col-md-12">
              <div class="d-flex justify-content-end">
                <div id="cant_planes">
                  <img src="images/iconos/copia-1.svg" style="width: 20px" />
                </div>
                <span class="cantidad ml-3" style="font-size: 15px">1 registros</span>
              </div>
            </div>             

            <div class="table-responsive">
              <table class="table-box" id="table_actrab_sp4_infor_med">
                <thead>
                  <tr>
                    <th>F. Informe</th>
                    <th>Especialidad</th>
                    <th>Diagnóstico</th>
                    <th>Documentos escaneados</th>
                    <!-- <th>Nombre del Especialista</th>                   -->
                    <!-- <th></th> -->
                    <!-- <th>Tipo de contingencia</th>                     -->
                    <!-- <th>Estableacimiento de emisión</th> -->
                    <!-- <th></th> -->
                  </tr>
                </thead>
                <tbody id="content_actrab_sp4_infor_med">
                  <tr>
                    <td>10/02/2021</td>
                    <td>Especialidad 1</td>
                    <td>Diagnostico 1</td>
                    <td>Documento 1</td>
                    <!-- <td>Erick Arrasco Guevara</td>                   -->
                    <!-- <td>10/02/2021</td> -->
                    <!-- <td>Tipo 1</td>                                         -->
                    <!-- <td>Establecimiento 1</td>                     -->
                    <!-- <td>
                      <div class="dropdown dropleft">
                        <a class="nav-link text-vertical" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          ...
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item">
                                <img src="./images/sho/eyeIcon.svg" alt="" fill="#01719d">
                                &nbsp;&nbsp; Ver descanso
                              </a>
                              <a class="dropdown-item">
                                <img src="./images/sho/edit.svg" alt="" fill="#8fbb02"> 
                                &nbsp;&nbsp;Editar
                              </a>
                        </div>
                      </div>                      
                    </td> -->
                  </tr>  
                </tbody>
              </table>
            </div>
          </div>
          <div class="tab-pane fade" id="exam_aux" role="tabpanel" aria-labelledby="exam_aux-tab">
            <!-- Nro de registros -->
            <div class="col-md-12">
              <div class="d-flex justify-content-end">
                <div id="cant_planes">
                  <img src="images/iconos/copia-1.svg" style="width: 20px" />
                </div>
                <span class="cantidad ml-3" style="font-size: 15px">1 registros</span>
              </div>
            </div>             

            <div class="table-responsive">
              <table class="table-box" id="tabl_actrab_sp4__exam_aux">
                <thead>
                  <tr>
                    <th>F. Examen</th>
                    <th>Tipo de examen</th>
                    <th>Conclusión</th>
                    <th>Resultados escaneados</th>
                    <!-- <th>Nombre del Especialista</th>                   -->
                    <!-- <th></th> -->
                    <!-- <th>Tipo de contingencia</th>                     -->
                    <!-- <th>Estableacimiento de emisión</th> -->
                    <!-- <th></th> -->
                  </tr>
                </thead>
                <tbody id="content_actrab_sp4_exam_aux">
                  <tr>
                    <td>10/02/2021</td>
                    <td>Tipo 1</td>
                    <td>Conclusión 1</td>
                    <td>Resultado 1</td>
                    <!-- <td>Erick Arrasco Guevara</td>                   -->
                    <!-- <td>10/02/2021</td> -->
                    <!-- <td>Tipo 1</td>                                         -->
                    <!-- <td>Establecimiento 1</td>                     -->
                    <!-- <td>
                      <div class="dropdown dropleft">
                        <a class="nav-link text-vertical" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          ...
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item">
                                <img src="./images/sho/eyeIcon.svg" alt="" fill="#01719d">
                                &nbsp;&nbsp; Ver descanso
                              </a>
                              <a class="dropdown-item">
                                <img src="./images/sho/edit.svg" alt="" fill="#8fbb02"> 
                                &nbsp;&nbsp;Editar
                              </a>
                        </div>
                      </div>                      
                    </td> -->
                  </tr>  
                </tbody>
              </table>
            </div>
          </div>
          <div class="tab-pane fade" id="eval_post" role="tabpanel" aria-labelledby="eval_post-tab">
            <!-- Nro de registros -->
            <div class="col-md-12">
              <div class="d-flex justify-content-end">
                <div id="cant_planes">
                  <img src="images/iconos/copia-1.svg" style="width: 20px" />
                </div>
                <span class="cantidad ml-3" style="font-size: 15px">1 registros</span>
              </div>
            </div>             

            <div class="table-responsive">
              <table class="table-box" id="table_actrab_sp4_eval_post">
                <thead>
                  <tr>
                    <th>F. Evaluación</th>
                    <th>Anamnesis</th>
                    <th>Plan</th>
                    <th>Aptitud</th>
                    <!-- <th>Nombre del Especialista</th>                   -->
                    <!-- <th></th> -->
                    <!-- <th>Tipo de contingencia</th>                     -->
                    <!-- <th>Estableacimiento de emisión</th> -->
                    <!-- <th></th> -->
                  </tr>
                </thead>
                <tbody id="content_actrab_sp4_eval_post">
                  <tr>
                    <td>10/02/2021</td>
                    <td>Anamnesis 1</td>
                    <td>Plan 1</td>
                    <td>Apto</td>
                    <!-- <td>Erick Arrasco Guevara</td>                   -->
                    <!-- <td>10/02/2021</td> -->
                    <!-- <td>Tipo 1</td>                                         -->
                    <!-- <td>Establecimiento 1</td>                     -->
                    <!-- <td>
                      <div class="dropdown dropleft">
                        <a class="nav-link text-vertical" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          ...
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item">
                                <img src="./images/sho/eyeIcon.svg" alt="" fill="#01719d">
                                &nbsp;&nbsp; Ver descanso
                              </a>
                              <a class="dropdown-item">
                                <img src="./images/sho/edit.svg" alt="" fill="#8fbb02"> 
                                &nbsp;&nbsp;Editar
                              </a>
                        </div>
                      </div>                      
                    </td> -->
                  </tr>  
                </tbody>
              </table>
            </div>
          </div>
        </div>    
                
      </div>
    </div>
    <!-- Nav-tabs -->    
  </div>
</div>  
<script src="./view/sho-hce/sp4_accidentes_trabajo/js/main.js"></script>
<!-- Boostrap multiselect -->
<script type="text/javascript" src="./view/sho-hce/sp4_accidentes_trabajo/js/bootstrap-multiselect.js"></script>

<script type="text/javascript">
$(document).ready(() => {
  SVGInject($(".inject-svg"));
});

$(document).ready(function() {
    $('#dat_impactDM_especialidades').multiselect();
    $('.multiselect').append(`
      <span class="multiselect_label">Especialidades</span>
    `)
});
</script>

<script src="js/sweetalert2.js"></script>
<script src="js/jquery.mask.min.js"></script>
<script src="js/svg-inject.min.js"></script>
