<style type="text/css">
	
    .labelMsgInfo{
    
    
      width: 339px;
      height: 52px;
      font-size: 18px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.45;
      letter-spacing: 0.26px;
      text-align: center;
      color: #3a3a3a;
    
    }
    /*------------------------------------------- estilos para formulario del proyecto---------------------------------------------------*/
   
   
   
    /* etiqueta de formularios */
        .lbFormsoma{
            font-size: 14px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #000000;
        }
        
        .btBuscar{
        font-size: 15px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.64;
        letter-spacing: 0.15px;
        color: #565933;
        background-color:#d2d97b; 
        width: 115px; 
        height: 50px; 
        border: 2px solid #d2d97b;
        border-radius: 5px; 
        }

        .btBuscar:hover{
        font-size: 15px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.64;
        letter-spacing: 0.15px;
        color: #d2d97b;
        background-color: #565933; 
        width: 115px; 
        height: 50px; 
        border: 2px solid#565933;
        border-radius: 5px; 
        }

        .iconBarraLateral {
            width: 1px;
            height: 51px;
            border: solid 1px #bfbfbf;
            background-color: #737373;
        }


        .btCrearProgramas{
            width: 184px;
            height: 50px;
            border-radius: 4px;
            border: 2px solid#05beee;
            background-color: #05beee;
            font-size: 15px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.64;
            letter-spacing: 0.15px;
            color: #ffffff;
        }

        
        .btCrearProgramas:hover{
            width: 184px;
            height: 50px;
            border-radius: 4px;
            border: 2px solid#05beee;
            background-color: #fff;
            font-size: 15px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.64;
            letter-spacing: 0.15px;
            color: #05beee;
        }


        .lbTableSoma{
            font-family:'Lucida Sans';
            font-size: 14px;
            font-weight:bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.64;
            letter-spacing: 0.15px;

            color: #000000;
            /*border-radius: 4px;
            border: solid 1px #cbcbcb;
            background-color: #f2f2f2;  */
        }

        .lbTableSoma:hover{
            font-family:'Lucida Sans';
            font-size: 14px;
            font-weight:bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.64;
            letter-spacing: 0.15px;
            color:#34559c;
        }
     /*------------------------------------------- estilos para formulario del proyecto---------------------------------------------------*/

     /* @font-face{
        font-family: "nombre-de-fuente";
        src: url("ubicación-del-archivo-de-fuente");
        font-weight: bold;
        font-type: italic;
        } */
      .infoModal2 {
            width: 241px;
            height: 48px;
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-size: 18px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.45;
            letter-spacing: 0.26px;
            color: #3a3a3a;
            }
            infoModal3.{
                width: 241px;
                height: 19px;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                font-size: 15px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #000000;
            }


            .infoModal4{

                width: 186px;
                height: 34.4px;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                font-size: 27.1px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #000000;


            }

</style>

   

    
    <!-- aqui quite un codigo -->
       
      
      <!-- Contenedores de Mensaje de Bienvenida }-->
    
      <!--   <div class="modulosTasa" style="background-color:red; top:360px;" >
        <div class="modulosTasaInt"> -->
   <div class="modulosTasa" style="background-color:white;" >
        <div class="modulosTasaInt">
            <table width = "80%" border="0">
                <tr>
                    <td colspan="10"  align="center"><br><br></td>
                <tr>
                <tr>

                    <td width = "12%" align="center">

                           <div >
                                <table width ="100%" align="center">
                                    <tr><td align="center" ><label for="sel_area" class="lbFormsoma" >ID Programa</label></td></tr>
                                    <tr><td align="center" > <input type="text"  name="tx_access_id_programa" id="tx_access_id_programa" maxlength="50"  placeholder=""></td></tr>
                                </table>
                                 
                                
                            </div>
                    </td>

                    <td width = "12%" align="center">
                        <div>
                            <table width ="100%" align="center">
                                <tr><td align="center" > <label for="tx_date_init" class="lbFormsoma">Fecha Desde</label></td></tr>
                                <tr><td align="center" > <input type="date"  id="tx_date_ini" placeholder="- " > </td></tr>
                            </table>
                        </div>
                    </td>

                    <td width = "12%" align="center">
                        <div>
                            <table width ="100%" align="center">
                                <tr><td align="center" ><label for="tx_date_init" class="lbFormsoma">Fecha Hasta</label></td></tr>
                                <tr><td align="center" ><input type="date" id="tx_date_end" placeholder="- " ></td></tr>
                            </table>
                            
                            
                       </div>
                    </td>

                    <td width = "10%" align="center">
                        <div >
                            <table width ="100%" align="center" border="0">
                                <tr><td align="center" > <label style="width: 120px;" for="sel_area" class="lbFormsoma" >Estado </label></td></tr>
                                <tr><td align="center" >
                                    <select  id="sel_estado_filter"  style="border:black;"  name="sel_sede_filter"  required>
                                        <option value="0" style="border-bottom: solid 1px darkgray;" disabled selected value >Seleccione </option>
                                        <option value="1">Creado</option>
                                        <option value="2">En Revisión</option>
                                        <option value="3">Observado</option>
                                        <option value="4">Aprobado</option>
                                      </select>
                                </td></tr>
                            </table>

                          </div>
                    </td>
                    <td width = "6%" align="center">
                        <button type="button" id="btnAddBlacklist" title="Buscar Programas de Auditoria" class="btBuscar"   onclick="alert('Buscar con DataTable o BD');">
                             Buscar
                        </button>
                        
  
                    </td>
                    <td width = "6%" align="center">
                       
                    </td>
                    <td width = "2%" align="center">
                        <img src="images/iconos/nPrograma.svg" height="40px">
                    </td>
                    <td width = "2%" align="center">
                        <span id="cantTotalCovid19" class="h3 mute" style="color:#757575;font-weight: bold;">0</span><br><small class="text-gray" style="font-size: 12px; color:#757575;font-weight: bold;"></small>
                    </td>
                    <td width = "2%" align="center">
                       <div class="iconBarraLateral"></div>
                    </td>
                    <td width = "18%" align="center">
                        <div style="text-align: right; width: 100%; margin-right: 10px;">
                        <button type="button" title="Crear un Nuevo Programa de Auditorías"  class="btCrearProgramas" id="btnAddBlacklist"   onclick="searchAct=0;  $('#modalShowpersonBlack').modal('show');"><i class="fas fa-plus"></i> Crear Programa <!-- <i class="material-icons">add</i> -->
                        </button>&nbsp;&nbsp;</div>
                    </td>
                    
                </tr>
                <tr>
                    <td colspan="10"  align="center"><br><br></td>
                <tr>
                <tr>
                    <td colspan="10"  align="center">

                        <table width = "100%" align="center" border="0">
                            <tr>
                                <td width = "100%" align="center">
                                    &nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td width = "100%" align="center">
                                </tr>
                                <tr role="row">
                                
                                    <div class="row ">
                                        <div class="col ">
                                             <div style="box-shadow: none; background-color:white;" >
                                                 <div class="card-body p-0 " id="tb_black_listx"  >
                                                   <table id="tb_black_list" border="0"  name="tb_black_list" class="table p-0" style="width:100%;  color: white;">
                                                       <!-- <tr class="cabeceraTabla" style="background-color: 34559c;"><td colspan="7" ></td> </tr> -->

                                                

                                                   </table>
                                                 </div>
                                             </div>
                                         </div>
                                     </div>

                                </td>
                            </tr>
                        <table>
                    </td>
                <tr>
            </table>
            
            
         </div>
     </div>
    <!-- -------------------- -->
    







      <!-- ----------------------------------------------------------------------------------------------------------------------- -->



     <!-- ------------------------------------------------------------------------------------------------------------------------ -->






    
          
          <!-- modal ingresar -->
          <div class="modal fade "  id="modalShowpersonBlack" tabindex="-1" role="dialog" aria-labelledby="modalAddCompanyTitle" aria-hidden="true" >
            <div class="modal-dialog modal-dialog-centered rounded " role="document" style="max-width: 472px; z-index: 1030; ">
              <div class="modal-content rounded " style=" witdth:380px; height:372px; background-color:white;  border: solid 1px #05beee; ">  <!-- class="modal-content rounded     background-color:rgba(0,0,0,.0001) !important; box-shadow: none;"-->      
                
                <div style="overflow: hidden; height: 372px;overflow-x: hidden; ">
                  <div class="" id="">
                        <div class="" style="color:#575757c9;">
                            
                            <div class="card " style=" border-radius: 10px; box-shadow: none;">
                                <div class="card-header text-center text-white  " style=" border-radius: 0px 0px 0px 0px; background:#05beee; height: 95px; width: 472px;"><img src="images/iconos/informacio1.svg"><span><b><br><br>&nbsp;&nbsp;&nbsp;&nbsp;</b></span></div>
                             
                            <div class="card-body">
                                <div class="" style="text-align: center; background-color:white;">
                                    <div class="" style="text-align: center; background-color:white;  ">
                                        <table width="100%" border="0"  >
                                            
                                            <tr>
                                                <td align="center" ><div class = "labelMsgInfo" style="text-align: center; width:300px; background-color:white;">Ingrese la información para la creación del programa</div></td>
                                            </tr>	
                                        </table>	
                                    </div>
                                    
                                </div>
                            </div>
    
                            <div class="card-body" style="">
                                <div class="" style="">
                                    
                                     
                                    <div class="" style=" text-align: center;" >
    
                                         <table width="100%" border="0" align="center" >
                                            <tbody style="border-radius: 10px; border: solid 1px #cbcbcb;"> 
                                                
                                                <tr>
                                                    <td align="center">
                                                        <div  style="text-align: left; width: 300px;">
                                                            <span ><b>Especialidad</b></span><br>
                                                        </div>
                                                    </td>
                                                </tr>	

                                                <tr>
                                                    <td align="center">
                                                        <div  style="text-align: center; width: 300px; ">
                                                            <select class="custom-select text-mute text-center selectNewBlack  border-1" style=" width:299px;" name="sel_sede" id="sel_sede" onchange="seleccionEspecialidad();">
                                                            </select>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
    
                                        <!-- <span><b>Especialidad</b></span><br>
                                        <select class="custom-select text-mute selectNewBlack" name="sel_sede" id="sel_sede" onchange="vw_secury_agent.getGarita(this.value)">
                                        </select> -->
                                    </div>
                                    
    
                                    
    
    
    
                                </div>
                            </div>
                                
                                
                                <div ></div>
                                            <!-- <div class="row text-center">
                                                <div class="col-sm-4"></div>
                                                <div class="col-sm-2">
                                                    <button type="button" id="btnValida" class="btn btn-green-lime btn-rounded btn-raised" onclick="vw_secury_agent.register();">Confirmar</button>
                                                </div>
                                                <div class="col-sm-2">
                                                    <button type="button" class="btn btn-danger btn-rounded btn-raised" onclick="vw_secury_agent.cancelform()">Cerrar</button>
                                                </div>	
                                                <div class="col-sm-4">&nbsp;</div>
                                            </div> -->
    
                                         <table width="100%" border="0" >
                                            
                                            <tr>
                                                <td width="10%" ><br></td>
    
                                                <td align="center" width="35%" >
            <button type="button" id="btnValida" class="btn  btn-raised" style="background-color: #05beee; width: 160.4px;" onclick="vw_secury_agent.register();">Confirmar</button>
                                                </td>
    
                                                <td width="10%">&nbsp;&nbsp;&nbsp; </td>
    
                                                <td align="center" width="35%">
                                                    <button type="button" class="btn   btn-white btn-raised" style=" background-color: #fff;  width: 160.4px;" onclick="vw_secury_agent.cancelform()">Cerrar</button>
                                                </td>
                                                <td width="10%" ><br></td>
                                            </tr>
                                            <tr><td colspan="5">&nbsp;<br><br><br><br><br>&nbsp;</td></tr>
                                        </table>
    
    
    
    
    
                                <div ></div>
                              </div>
                            </div>
                      </div>
                        
                    
    
                  </div>
                </div>
                <div >
                  <div class="col-md-12 row"  id="modal_show_request_details_footer">
                  </div>
                </div>
              
              </div>
            </div>
          </div>
    
          <!--table id="tb_list_time_exceededs" name="tb_list_time_exceededs" class="table" style="max-width:100%;"></table-->
        <div class="modal fade col-md-12"  id="Listbinnacle" tabindex="-1" role="dialogooo" aria-labelledby="modalAddCompanyTitle" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-centered rounded " role="document" style="max-width:80%; z-index: 1030; " >
            <div class="modal-content rounded " style=" background-color:red;  box-shadow: none;">        
                <div class="modal-header" style="padding:5px 24px 0!important">
                <h5 class="modal-title"></h5>
                </div>
                
                <div style="overflow: hidden;overflow-x: hidden; ">
                <div class="modal-body" id="modal_show_request_details12">  
                    <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <div class="card" style=" border-radius: 10px; box-shadow: none;">
                        <div class="card-header text-white " style=" border-radius: 10px 10px 0px 0px; background: #35569d; height: 50px;">                  
                            <div class="row">                        
                                <div class="col">
                                    <h6 ><b>Listado bitácora </b></h6> 
                                </div>
                                <div class="col">
                                    <h6 ><text class="textName"></text></b></h6> 
                                </div>	
                                <div class="col-md-2 text-center">
                                    <table style="width:100%;top:-5px">
                                        <tr>
                                            <td align="right"><img src="images/iconos/users_writhe.svg" style="margin-top: -10px;height:25px;">&nbsp;&nbsp;</td>
                                            <td align="center"><div style="font-weight: bold;color: #fff;"><span class="CantExceBlack" class="h3 mute">0</span><br><small class="text-gray" style="font-size: 12px;">Registros</small></div></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>                    
                        </div>
                                
                        <div style="width: 100%;padding-top: 10px;padding-left: 10px;padding-right: 10px; "> 
                            <div style="max-height:400px !important; overflow: hidden;overflow-x: hidden;">  
                            <table id="List_table_binnacle" name="List_table_binnacle" class="table" style="width:100%"></table>          
                            </div>                      
                        
                            <hr>  
                            <div class="row justify-content-md-center  mt-2 P-4">
                            <div class="col-md-12">
                            <center><button type="button" class="btn btn-danger  btn-rounded btn-raised " onclick="$('#Listbinnacle').modal('hide');$('.CantExceBlack').text('0')" style="width: 150px !important;"> &nbsp;&nbsp;Salir&nbsp;&nbsp;&nbsp;&nbsp;</button></center>
                            </div>
                            </div>  
                        </div>                  
                        </div>      
                    </div>        
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
            <!-- modal fin -->
    
          <!-- modal editar -->
          <!-- modal ingresar -->
          <div class="modal fade "  id="modalShowpersonBlacke" tabindex="-1" role="dialog" aria-labelledby="modalAddCompanyTitle" aria-hidden="true" >
            <div class="modal-dialog modal-dialog-centered rounded " role="document" style="max-width: 750px; z-index: 1030; ">
              <div class="modal-content rounded " style=" background-color:rgba(0,0,0,.0001) !important; box-shadow: none;">        
                
                <div style="overflow: hidden;height: 500px;overflow-x: hidden; ">
                  <div class="modal-body" id="">
                        <div class="col-12 col-md-12" style="color:#575757c9;">
                            
                            <div class="card " style=" border-radius: 10px; box-shadow: none;">
                                <div class="card-header text-left text-white  " style=" border-radius: 10px 10px 0px 0px; background: #35569d; height: 40px;"><span><b>Gestionar Lista Negra</b></span></div>
                             
                              <div class="card-body">
                                <div class="row p-0">
                                    <div class="col-4">
                                        <span><b>DOCUMENTO</b></span><br>
                                        <span id="dniedit"></span>
                                        <span></span>
                                    </div>
                                    <div class="col-4">
                                        <span><b>NOMBRE</b></span><br>
                                        <span id="nameedit"></span>
                                    </div>
                                    <div class="col-4">
                                        <span><b>EMPRESA</b></span><br>
                                        <span id="span_name_company"></span>
                                    </div>
                                    </div>
                                    <div class="col-3">
                                </div>
                            </div>
                                
                                <div style="height: 0px;"></div>
                                <div class="col-12">
                                    <span><b>OBSERVACIÓN</b></span>
                                </div>
                                <div class="col-12">
                                    <div class="col boxBlacklist ">
                                        <textarea id="tx_reasonedit" name="tx_reasonedit"  value="Ingrese una observación" placeholder="Ingrese una observación." rows="2"   maxlength="50" style="width: 100%; height: 70px; border: none !important;"></textarea>
                                    </div>	
                                </div>
                                <div style="height: 20px;"></div>
                                <div class="row text-right">
                                    <div class="col-sm-6 "></div>
                                    <div class="col-sm-3">
                                        <button type="button" class="btn btn-green-lime btn-rounded btn-raised" id="butEditBlack" onclick="vw_secury_agent.thumbsUpregister();">Retirar de lista</button>
                                    </div>
                                    <div class="col-sm-2">
                                        <button type="button" class="btn btn-primary btn-rounded btn-raised" onclick="$('#modalShowpersonBlacke').modal('hide')">Cancelar</button>
                                    </div>	
                                    <div class="col-sm-12">&nbsp;</div>
                                </div>
                              </div>
                            </div>
                    </div>
    
                  </div>
                </div>
                <div class="modal-footer" >
                  <div class="col-md-12 row"  id="modal_show_request_details_footer">
                  </div>
                </div>
              
              </div>
            </div>
          
          <!--div class="modal fade "  id="modalShowpersonBlacke" tabindex="-1" role="dialog" aria-labelledby="modalAddCompanyTitle" aria-hidden="true" >
            <div class="modal-dialog modal-dialog-centered rounded " role="document" style="max-width: 950px; z-index: 1030; ">
              <div class="modal-content rounded " style=" background-color:rgba(0,0,0,.0001) !important; box-shadow: none;">        
                <div class="modal-header" style="padding:5px 24px 0!important">
                    <h5 class="modal-title"></h5>
                    
                </div>
                <div style="overflow: auto;height: 500px;overflow-x: hidden; ">
                  <div class="modal-body row" id="modal_show_request_details">
    
                    <div class="row ">
                        <div class="col ">
                
                              <div class="card" style="width: 350px; border-radius: 10px; box-shadow: none;">
                                <div class="card-header text-center text-white  " style=" border-radius: 10px 10px 0px 0px; background: #35569d; height: 40px;"><span class="badge badge-light text-light shadow badge-pill">visitasa</span></div>
                                <div class="card-body text-center">
                                    <div class="row">
                                        <div class="col text-primary font-weight-bold">Gestionar Lista Negra aaa</div>	
                                    </div>
                                    <div style="height: 6px;"></div>
                                    <div class="row">
                                        <div class="col"><img class="rounded-circle" id="img_user_black_list" src="images/iconos/user.svg" height="250"></div>	
                                    </div>
                                    <div class="row">
                                        <div class="col boxBlacklistread font-weight-bold " id="contenedor-nombre"><label id="nameedit">Nombre y Apellido</label></div>	
                                    </div>
                                    <div style="height: 4px;"></div>
                                    <div class="row">
                                        <div class="col boxBlacklistread" id="span_name_company">Empresa</div>	
                                    </div>
                                    
                                </div>
                              </div>
                        </div>
    
                        <div class="col pl-0">
                
                            <div class="card " style="width: 520px; border-radius: 10px; box-shadow: none;">
                             
                              <div class="card-body">
                                 
                                <div class="row p-0">
                                    <div class="col-9">
                                        <span class="titleMain p-2 font-weight-bold" style="border: none;">Observaciones</span></div>
                                    <div class="col-3">
       
                                       <button type="button" class="btn btn-danger" data-dismiss="modal" aria-label="Close">
                                           <span class="text-danger text-right">Cerrar</span>
                                         </button>
       
                                    </div>
                                    </div>
                                
                                <div class="row">
                                    <div class="col boxBlacklist ">
                                        <textarea id="tx_reasonedit" name="tx_reasonedit" class="" rows="2"   maxlength="250" style="width: 100%; height: 282px; border: none !important;"></textarea>
                                    </div>	
                                </div>
                                <br>
                                <div class="row text-right">
                                    <div class="col-sm-5"></div>
                                    <div class="col-sm-4">
                                        <button type="button" class="btn btn-green-lime btn-rounded btn-raised" id="butEditBlack" onclick="vw_secury_agent.thumbsUpregister();">Retirar de lista</button>
                                    </div>
                                    <div class="col-sm-3">
                                        <button type="button" class="btn btn-primary btn-rounded btn-raised" onclick="$('#modalShowpersonBlacke').modal('hide')">Cancelar</button>
                                    </div>	
                                </div>
                                
                                    
                                 
                              </div>
                            </div>
                      </div>
                        
                    </div>
    
                  </div>
                </div>
                <div class="modal-footer" >
                  <div class="col-md-12 row"  id="modal_show_request_details_footer">
                  </div>
                </div>
              
              </div>
            </div>
          </div-->
     
    </div>

    <div class="modal fade"  id="modalExitoGuuardaProgramaAuditoria" tabindex="-1" role="dialog" aria-labelledby="ExitoCambiosAuditoriaModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered rounded" role="document" style=" border-radius: 10px 10px 0px 0px; max-width:300px; max-height: 382px; z-index: 1030; ">
          <div class="modal-content rounded " style=" background-color:rgba(0,0,0,.0001) !important; box-shadow: none;">
             <div style="overflow: hidden;height: 360px;overflow-x: hidden; ">
                 <div class="modal-body" id="" style="padding: 0px;">
                     <div class="col-sm-12 col-md-12" style="color:#575757c9; width: 100%; padding: 0px;">
                         <div class="card" style="padding-top:0px; box-shadow: none; width: 100%;">
                             <div class="card-header text-white" style="border-radius: 10px 10px 0px 0px; background:#d2d97b; height: 95px;">
                                     <div class="d-flex justify-content-center">
                                         <img src="images/iconos/correct-1.svg">
                                     </div>
                             </div>
                            
                             <!-- // swal("Se creó la programación de auditorías con éxito", "El código de la programación es: ( "+EspecialidadId +" )", "success");*/ -->
                             <div class="card-body" style="background: white; text-align: center !important;">
                                 <div class="d-flex justify-content-center titulo-exito-ingreso-auditoriaCA ">
                                     <div style=" color: #181717; width:241px; height: 48px; text-align: center ; font-family: 'Lucida Sans'; font-size: 18px; opacity: 0.7; " >Se cre&oacute; la programaci&oacute;n de auditorias con &eacute;xito<br></div>
                                     <br>
                                 </div>
                                 <div class="d-flex mx-0 px-0 justify-content-center pregunta-exito-ingreso-auditoriaCA">
                                     <b  class="infoModal3"  style="width: 241px; text-align: center; font-family: 'Lucida Sans'  height: 19px; font-family: ProductSans; font-size: 15px;font-weight: normal; font-stretch: normal; font-style: normal;line-height: normal; letter-spacing: normal; color: #000000;">El c&oacute;digo de la programaci&oacute;n es:<br></b>
                                 </div>
                                 <div class="d-flex mb-3 mx-0 justify-content-center pregunta-exito-ingreso-auditoriaCA" style="height: 30px !important;">
                                     <b class="infoModal4" style="width: 196px; ; font-family:'Lucida Sans' ;font-size: 27.1px; font-weight: normal; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: normal;
                                     color: #000000;" id="CodNewProgramasx" >CALIDAD2020</b>
                                 </div>
                                 <br>
                                 <div class="my-4 mx-0">
                                     <div class="d-flex mt-3 mx-0 justify-content-between">
                                         <div class="">
                                             <button type="button" onClick="$('#modalExitoGuuardaProgramaAuditoria').modal('hide');" class="btn-exito-ingreso-auditoriaCA">De Acuerdo</button>
                                         </div>
                                     </div>
                                 </div>
                             </div>
 
 
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </div>