<table width="100%" border="1">
  <tr>
    <td>
      <table width="100%" border="1" align="center" bordercolor="#CC0033">
        <tr>
          <td width="32%">Datos Principales</td>
          <td width="3%">&nbsp;</td>
          <td width="33%">Programación</td>
          <td width="4%">&nbsp;</td>
          <td width="28%">Resultados</td>
        </tr>
    </table></td>
  </tr>
  <tr>
    <td><table width="100%" border="1" align="center" bordercolor="#0000FF">
      <tr>
        <td width="15%">Datos Principales</td>
        <td width="82%">&nbsp;</td>
        <td width="3%">Icon</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><table width="100%" border="1" align="center" bordercolor="#FF0000">
      <tr>
        <td width="45%">Objetivo</td>
        <td width="4%">&nbsp;</td>
        <td width="51%">Alcance</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><table width="100%" border="1" align="center"  bordercolor="#0000FF">
      <tr>
        <td width="13%">Lugar de Auditoria</td>
        <td width="4%">&nbsp;</td>
        <td width="13%">Fecha Planificada</td>
        <td width="4%">&nbsp;</td>
        <td width="13%">&nbsp;</td>
        <td width="4%">&nbsp;</td>
        <td width="13%">Fecha de Ejecución</td>
        <td width="4%">&nbsp;</td>
        <td width="13%">&nbsp;</td>
        <td width="4%">&nbsp;</td>
        <td width="13%">Fecha de Elaboración</td>
        <td width="2%">&nbsp;</td>
      </tr>
       <tr>
        <td width="13%">&nbsp;</td>
        <td width="4%">&nbsp;</td>
        <td width="13%">&nbsp;</td>
        <td width="4%">&nbsp;</td>
        <td width="13%">&nbsp;</td>
        <td width="4%">&nbsp;</td>
        <td width="13%">&nbsp;</td>
        <td width="4%">&nbsp;</td>
        <td width="13%">&nbsp;</td>
        <td width="4%">&nbsp;</td>
        <td width="13%">&nbsp;</td>
        <td width="2%">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>
    
    <table width="100%" border="1" align="center" bordercolor="#0000FF">
      <tr>
        <td width="22%">
        <table width="100%" border="1" align="center" bordercolor="#FF0000">
          <tr>
            <td width="78%">Auditores</td>
            <td width="11%">icon</td>
            <td width="11%">03</td>
            <tr>
            <td colspan="3">lista auditores</td>
            </tr>
        </table>
        </td>
        <td width="22%"><table width="100%" border="1" align="center" bordercolor="#FF0000">
          <tr>
            <td width="78%">Observadores</td>
            <td width="11%">icon</td>
            <td width="11%">03</td>
          </tr>
          <tr>
            <td colspan="3">lista auditores</td>
          </tr>
        </table></td>
        <td width="56%"><table width="100%" border="1" align="center" bordercolor="#CC0033">
          <tr>
            <td width="5%">&nbsp;</td>
            <td width="37%" align="center">Cambiar Fecha de Ejecución</td>
            <td width="11%">&nbsp;</td>
            <td width="40%" align="center" >Ver Historial de ejecucion</td>
            <td width="7%">&nbsp;</td>
          </tr>
        </table></td>
      </tr>
    </table>
    
    
    
    </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
</table>




<br />
<br />

<table width="100%" border="1" align="center">
<tr>
<td width="15%">&nbsp;</td>
<td width="82%">&nbsp;</td>
<td width="4%">
&nbsp;
</td>
</tr>

<tr>
<td width="15%"><h6 class="detalle-formauditor p-3">Datos Principales</h6></td>
<td width="82%">&nbsp;</td>
<td width="4%">
<div class="p-3" >
     <img src="./images/iconos/menu.svg" class="menu-1-1">
</div>
</td>
</tr>
<tr>
<td colspan="3">
                                                 
        <table width="100%" border="0" align="center" >
          <tr>
                <td colspan="2">&nbsp;</td>
          </tr>
          <tr>
            <td width="50%" align="left">
                 <div class="form-group  border" style="margin-left:16px !important; padding:10px !important; width:95% !important; 
                 height:109px !important;" id = "div_txt_objetivo_plan">
                <label for="objetivo" class="label label-caja">Objetivo</label>
                <textarea  class="text-justify textarea-fecha2" id="txt_objetivo_plan"  name = "txt_objetivo_plan"></textarea>
                </div>
            </td>
            
            <td width="50%" align="right">
               <div class="form-group border" style=" text-align:left !important; padding:10px !important; margin-right:16px !important; 
                    width:95% !important;  height:109px !important;"  id = "div_txt_alcance_plan"  >
                    <label for="objetivo" class="label label-caja">Alcance de la Auditor&iacute;a</label>
                    <textarea class="text-justify textarea-fecha2" id="txt_alcance_plan"  name = "txt_alcance_plan"></textarea>
                </div>
            </td>
          </tr>
        </table>

</td>
</tr>
</table>


<br />
<br />

 <table width="100%" border="1" align="center"  bordercolor="#0000FF">
<tr>
<td width="16%"> <h6 class="detalle-formauditor">Lugar de Auditoría</h6></td>
<td width="1%">&nbsp;</td>
<td width="16%"><h6 class="detalle-formauditor ">Fecha Planificada</h6></td>
<td width="1%">&nbsp;</td>
<td width="16%">&nbsp;</td>
<td width="1%">&nbsp;</td>
<td width="16%"><h6 class="detalle-formauditor">Fecha de Ejecuci&oacute;n</h6></td>
<td width="1%">&nbsp;</td>
<td width="16%">&nbsp;</td>
<td width="1%">&nbsp;</td>
<td width="16%"><h6 class="detalle-formauditor">Elaboraci&oacute;n de Plan</h6></td>
<td width="1%">&nbsp;</td>
</tr>
<tr>
<td width="16%">

   <div class="Rectangle-trainnig-2 disabled2">
        <div class="form-group p-2" >
            <label for="txt_role_played" class="bmd-label-static lbaud1">Sede Auditor&iacute;a </label>
           <div class="input-group">
              <input  type="text" style="height: 17px !important; font-size: 14px !important; color:#000 !important;"  name="txt_sede_plan"  
               id="txt_sede_plan" aria-describedby="sizing-addon2" 
              class="form-control  bg-white fechasA disabled2"  readonly disabled maxlength="10"  autocomplete="off" >
           </div>
        </div>
   </div>
   
   </td>
<td width="1%">&nbsp;</td>
<td width="16%">
    
     <div class="Rectangle-trainnig-2 verde disabled2">
        <div class="form-group p-2" >
            <label for="txt_role_played" class="bmd-label-static  lbaud1">Fecha Inicio</label>
        <div class="input-group">
              <input  type="text"style="height: 17px !important; font-size: 14px !important; color:#000 !important;"  name="txt_fechaInicio"
               id="txt_fechaInicio" aria-describedby="sizing-addon2" 
                class="form-control  bg-white fechasA disabled2"  readonly disabled maxlength="10"  autocomplete="off" >
           <span class="input-group-addon" id="sizing-addon2"><img src="./images/iconos/calendario-3.svg"></span>
        </div>
   </div>
   </div>
    
</td>
<td width="1%">&nbsp;</td>
<td width="16%">

<div class="Rectangle-trainnig-2 verde disabled2">
<div class="form-group p-2" >
            <label for="txt_role_played" class="bmd-label-static  lbaud1"> Fecha Fin </label>
    <div class="input-group">
        <input style="height: 17px !important; font-size: 14px !important; color:#000 !important;"  type="text" name="txt_fechaFin" 
        id="txt_fechaFin" aria-describedby="sizing-addon2" 
         class="form-control bg-white fechasA disabled2" readonly disabled maxlength="10"  autocomplete="off" >
        <span class="input-group-addon" id="sizing-addon2"><img src="./images/iconos/calendario-3.svg"></span>
    </div>
    </div>
    </div>
    
</td>
<td width="1%">&nbsp;</td>
<td width="16%">
    <div class="Rectangle-trainnig-2 azul disabled2">
      <div class="form-group p-2" >
            <label for="txt_role_played" class="bmd-label-static  lbaud1">Fecha Inicio </label>
        <div class="input-group">
        <input  type="text" style="height: 17px !important; font-size: 14px !important; color:#000 !important;" name="txt_fechaInicioEj"
         id="txt_fechaInicioEj" aria-describedby="sizing-addon2" 
        class="form-control  bg-white fechasA disabled2" readonly disabled maxlength="10"  autocomplete="off" >
        <span class="input-group-addon" id="sizing-addon2"><img src="./images/iconos/calendario-3.svg"></span>
       </div>
     </div>
     </div>
</div>
</td>
<td width="1%">&nbsp;</td>
<td width="16%">
    <div class="Rectangle-trainnig-2 azul disabled2">
      <div class="form-group p-2" >
            <label for="txt_role_played" class="bmd-label-static  lbaud1">Fecha Fin </label>
       <div class="input-group">
         <input  type="text" style="height: 17px !important; font-size: 14px !important; color:#000 !important;" name="txt_fechaFinEj" 
          id="txt_fechaFinEj" aria-describedby="sizing-addon2"
          class="form-control  bg-white fechasA disabled2" readonly disabled maxlength="10"  autocomplete="off" >
        <span class="input-group-addon" id="sizing-addon2"><img src="./images/iconos/calendario-3.svg"></span>
       </div>
    </div>
</div>

</td>
<td width="1%">&nbsp;</td>
<td width="16%">

    <div class="Rectangle-trainnig-2 disabled2">
      <div class="form-group p-2" >
            <label for="txt_role_played" class="bmd-label-static  lbaud1" > Fec. de Elaboraci&oacute;n</label>
       <div class="input-group">
        <input  style="height: 17px !important; font-size: 14px !important; color:#000 !important;" type="text" name="txt_fechaIniPlan" 
          id="txt_fechaIniPlan" aria-describedby="sizing-addon2" 
         class="form-control bg-white fechasA disabled2" readonly disabled maxlength="10" autocomplete="off" >
        <span class="input-group-addon" id="sizing-addon2"><img src="./images/iconos/calendario-3.svg"></span>
    </div>
    </div>
</div>

</td>
<td width="1%">&nbsp;</td>
</tr>
</table>
                                            