<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="Expires" content="0">
    <meta http-equiv="Last-Modified" content="0">
    <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <link rel="shortcut icon" href="../../../images/iconos/favicon.ico" type="image/x-icon"/> 
    <meta name="author" content="Visualsat Peru">
	<title>Descargar Archivos</title>
	<link rel="stylesheet" href="">
	<style type="text/css">
		.preloader {
			width: 90px;
			height: 90px;
			border: 10px solid #eee;
			border-top: 10px solid #666;
			border-radius: 50%;
			animation-name: girar;
			animation-duration: 2s;
			animation-iteration-count: infinite;
		}
		@keyframes girar {
			from {
				transform: rotate(0deg);
			}
			to {
				transform: rotate(360deg);
			}
		}
		
	</style>
</head>
<body>
		<div id="DescargarArchivo"style=" display: none;"></div>
		<div style="width: 100%;text-align: -webkit-center; position: absolute; z-index: 2;margin-top: 10%;">
	        <div class="preloader" id="preloader" style="display: block;" > </div>
        </div>
		<div style="width: 100%;text-align: -webkit-center; position: absolute; z-index: 3;margin-top: 20%;">
	    	<div id="preloader_txt" style="color: black;"> <b>Cargando...</b></div>
	    </div>
</body>
	<!-- libs estaticos -->
    <script src="../../../js/jquery-3.4.1.js" ></script>
    <script src="../../../js/apiRoute.js"></script>
    <script src="../../../js/common.js"></script>
</html>

<script>

	$('document').ready(function ()
	{
		
		let params = new URLSearchParams(location.search);
		var Id = params.get('Id');
		var Documento = params.get('Documento');
		//console.log("Id: ",Id)
		//console.log("Documento: ",Documento)
		
		var url = apiurlAuditoria+"/api/Get-Adjuntos-All?code=HP7/5rJWpUnPIlc8C1ifZK3b2CBmTHHj/n2tREsX4kCgIaXa/dJYew==&httpmethod=object&Id="+Id+"&Documento="+Documento;
		//console.log("url: ",url)
		// GUARDAR
		var headers ={
		   "apikey":constantes.apiKey,
		   "Content-Type": "application/json",
		}



		$.ajax({
		    method: 'GET',
		    url:  url,
		    headers:headers,
		    crossDomain: true,
		    dataType: "json",
		}).done(function (data) {
			//console.log("DATA: ",data)

			if(data.Id > 0){

				var x = data.Adjunto.split(',');
				var y = data.AdjuntoName.split('.');
				
				$("#DescargarArchivo").html('<a download="'+data.AdjuntoName+'" class="adjunto" href="'+x[0]+','+x[1]+'"><button class="btn btn-success btn-show-alert">Descargar</button></a>')

			}else
			{
				alert("No existe archivo")
			}



		})
		.fail(function( jqXHR, textStatus, errorThrown ) {
			console.error("fail")
		})  
		.always(function( jqXHR, textStatus, errorThrown ) {
		    //console.warn("Listo termino el servicio ",textStatus)
		    // Simular click
	           	$('.btn-show-alert').trigger('click');
	           	$('.preloader').css('display','none');
	           	$('#preloader_txt').css('display','none');
		});

	});
	
	

</script>