<!-- Boostrap multiselect -->
<link rel="stylesheet" href="./view/sho-hce/sp4_enfermedades_cronicas/css/bootstrap-multiselect.css" type="text/css"/>
<link rel="stylesheet" href="./view/sho-hce/sp4_enfermedades_cronicas/css/sho.css">
<!-- <link rel="stylesheet" href="css/sweetalert2.css"> -->

<div class="container main-content">
  <div>
    <!-- Transferencia  -->
    <div class="row mb-5 d-flex justify-content-between align-items-center">
      <div class="p-2 mr-auto">
        <span class="titulo">Transferencia</span>
      </div>

      <!-- <div class=" col-md-4 col-sm-6  p-2">
        <button onclick="" type="button" class="btn btn-info btn-block btn-lg" id="">
          Imprimir descanso<img class="inject-svg" src="./images/sho/print.svg" alt="" fill="#fff" width="18px">
        </button>
      </div> -->

      <div class=" col-md-2 col-sm-6  p-2">
        <button type="button" class="btn btn-danger btn-block btn-lg" id=""> Cancelar <img class="inject-svg" src="./images/sho/cancelar.svg" alt="" fill="#fff" width="18px">
        </button>
      </div>

      <div class="col-md-2 col-sm-6  p-2">
        <button type="button" class="btn btn-success btn-block btn-lg"> Guardar <img class="inject-svg" src="./images/sho/confirm.svg" alt="" fill="#fff" width="18px">
        </button>
      </div>
    </div>
    <!-- Fila 1 -->
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Empresa</span>
          <input type="" id="sp4EnferCron_transf_empresa">
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Fecha de Transferencia</span>
          <input type="date" name="" id="sp4EnferCron_transf_fecha"></select>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="input-box-secondary">
          <span>Dirección del trabajador</span>
          <input type="" id="sp4EnferCron_transf_dir">
        </div>
      </div>
    </div>                    
    <!-- Fila 1 fin -->
    <!-- Fila 2 -->
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Teléfono</span>
          <input type="" id="sp4EnferCron_transf_tlf">
        </div>
      </div>
      <div class="col-md-9 col-sm-6">
        <div class="input-box-secondary">
          <span>Anamnesis</span>
          <input type="" id="sp4EnferCron_transf_anamnesis">
        </div>
      </div>
    </div>                    
    <!-- Fila 2 fin -->
    <hr class="mb-5 mt-4" />
    <!-- Transferencia  -->
    
    <!-- Funciones vitales-->
    <div class="row mb-5 d-flex justify-content-between align-items-center">
      <div class="p-2 mr-auto">
        <span class="titulo">Funciones vitales</span>
      </div>
    </div>
    <!-- Fila 1 -->
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <img class="inject-svg" src="./images/sho/arterial.svg" alt="" fill="#ff2e2e" width="20px">
        <span>Presion arterial</span>
      </div>
      <div class="col-md-1 col-sm-6">
        <div class="input-box-secondary">
          <input type="" name="" id="sp4EnferCron_transf_funciones_pa">
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <img class="inject-svg" src="./images/sho/cardiaca.svg" alt="" fill="#ff2626" width="20px">
        <span>Frecuencia cardiaca</span>
      </div>
      <div class="col-md-1 col-sm-6">
        <div class="input-box-secondary">
          <input type="" name="" id="sp4EnferCron_transf_funciones_fc">
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <img class="inject-svg" src="./images/sho/respiratoria.svg" alt="" fill="#00baff" width="20px">
        <span>Frecuencia respiratoria</span>
      </div>
      <div class="col-md-1 col-sm-6">
        <div class="input-box-secondary">
          <input type="" name="" id="sp4EnferCron_transf_funciones_fr">
        </div>
      </div>  
    </div>
    <!-- Fila 1 -->
    <!-- Fila 2 -->
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <img class="inject-svg" src="./images/sho/temperatura.svg" alt="" fill="#34a9ff" width="12px">
        <span>Temperatura</span>
      </div>
      <div class="col-md-1 col-sm-6">
        <div class="input-box-secondary">
          <input type="" name="" id="sp4EnferCron_transf_funciones_temp">
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <img class="inject-svg" src="./images/sho/peso.svg" alt="" fill="#004eff" width="20px">
        <span>Peso Kg</span>
      </div>
      <div class="col-md-1 col-sm-6">
        <div class="input-box-secondary">
          <input type="" name="" id="sp4EnferCron_transf_funciones_pesokg">
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <img class="inject-svg" src="./images/sho/talla.svg" alt="" fill="#715fff" width="20px">
        <span>Talla</span>
      </div>
      <div class="col-md-1 col-sm-6">
        <div class="input-box-secondary">
          <input type="" name="" id="sp4EnferCron_transf_funciones_talla">
        </div>
      </div>  
    </div>
    <!-- Fila 2 -->
    <!-- Fila 3 -->
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <img class="inject-svg" src="./images/sho/saturacion.svg" alt="" fill="#fc2a5a" width="20px">
        <span>Saturación O2 </span>
      </div>
      <div class="col-md-1 col-sm-6">
        <div class="input-box-secondary">
          <input type="" name="" id="sp4EnferCron_transf_funciones_sat">
        </div>
      </div>      
      <div class="col-md-3 col-sm-6">
        <img class="inject-svg" src="./images/sho/corporal.svg" alt="" fill="#ffc400" width="20px">
        <span>Índice de masa corporal</span>
      </div>
      <div class="col-md-1 col-sm-6">
        <div class="input-box-secondary">
          <input type="" name="" id="sp4EnferCron_transf_funciones_masa">
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <img class="inject-svg" src="./images/sho/abdominal.svg" alt="" fill="#ff8b43" width="20px">
        <span>Perímetro abdominal</span>
      </div>
      <div class="col-md-1 col-sm-6">
        <div class="input-box-secondary">
          <input type="" name="" id="sp4EnferCron_transf_funciones_perimetro">
        </div>
      </div>  
    </div>
    <hr class="mb-5 mt-4" /> 
    <!-- Fila 3 -->
    <!-- Funciones vitales-->

    <!-- Diagnostico CIE10 -->
    <div class="row mb-5 d-flex align-items-center">
      <div class="col-md-12">
        <span class="titulo">Diagnostico CIE10</span>
      </div>
    </div>
    <div class="row mb-5 d-flex align-items-center">
      <div class="col-md-3">
        <div class="input-box-secondary">
          <span>Diagnóstico</span>
          <select name="" id="sp4EnferCron_transf_diagCIE10_diag"></select>
        </div>
      </div>
      <div class="col-md-3">
        <div class="input-box-secondary">
          <span>CIE10</span>
          <select name="" id="sp4EnferCron_transf_diagCIE10_cie10"></select>
        </div>
      </div>

      <div class="col-md-3">
        <div class="input-box-secondary">
          <span>Sistema afectado</span>
          <select name="" id="sp4EnferCron_transf_diagCIE10_sisa"></select>
        </div>
      </div>
      <div class="col-md-3">
        <div class="input-box-secondary">
          <span>Sección afectada</span>
          <select name="" id="sp4EnferCron_transf_diagCIE10_seca"></select>
        </div>
      </div>
    </div>
    
    <div class="row mb-5 d-flex justify-content-end ">
      <div class="col-md-3 col-sm-6">
          <button type="button" class="btn btn-success btn-block btn-lg"> 
            Agregar a la lista 
            <img class="inject-svg" src="./images/sho/plus.svg" alt="" fill="#fff" width="18px">
        </button>
      </div>
    </div>

    <div class="row mb-5">
      <!-- Nro de registros -->
      <div class="col-md-12">
        <div class="d-flex align-items-center">
          <div id="cant_planes">
            <img src="images/iconos/copia-1.svg" style="width: 20px" />
          </div>
          <span class="cantidad ml-3" style="font-size: 15px">1 registros</span>
        </div>
      </div>             

      <div class="table-responsive">
        <table class="table-box" id="table_sp4EnferCron_transf_diagCIE10">
          <thead>
            <tr>
              <th>Diagnóstico </th>
              <th>CI10</th>
              <th>Fecha de registro</th>
              <th>Especialidad</th>
              <th>Sistema afectado</th>
              <th width="500px">Seccion afectada</th>
              <th></th>
            </tr>
          </thead>
            <tbody id="content_sp4EnferCron_transf_diagCIE10">
              <tr>
                <td>Diagnóstico 1</td>
                <td>Tipo 1</td>
                <td>12/7/2021</td>
                <td>Especialidad </td>
                <td>Sistema 1</td>
                <td width="500px">Seccion 1</td>
                <td>
                  <img class="inject-svg" src="./images/sho/delete.svg" alt="" fill="#ff3636" width="18px">
                </td>
            </tr>  
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 col-sm-6">
        <div class="input-box-secondary">
          <span>Tratamiento</span>
          <input type="" id="sp4EnferCron_transf_diagCIE10_trat">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="input-box-secondary">
          <span>Motivo de transferencia</span>
          <input type="" id="sp4EnferCron_transf_diagCIE10_motivo">
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Hora de atención del D.S.O.</span>
          <input type="" id="sp4EnferCron_transf_diagCIE10_hora_dso">
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Hora de evaluación</span>
          <input type="" id="sp4EnferCron_transf_diagCIE10_hora_eval">
        </div>
      </div>
    </div>
    <hr class="mb-5 mt-4" />     
    <!-- Diagnostico CIE10 fin -->


    <!-- Respuesta de transferencia - Diagnostico CIE10 -->
    <div class="row mb-5 d-flex align-items-center">
      <div class="col-md-12">
        <span class="titulo">Respuesta de transferencia - Diagnostico CIE10</span>
      </div>
    </div>
    <div class="row mb-5 d-flex align-items-center">
      <div class="col-md-3">
        <div class="input-box-secondary">
          <span>Diagnóstico</span>
          <select name="" id="sp4EnferCron_transf_diagCIE10_diag2"></select>
        </div>
      </div>
      <div class="col-md-3">
        <div class="input-box-secondary">
          <span>CIE10</span>
          <select name="" id="sp4EnferCron_transf_diagCIE10_cie102"></select>
        </div>
      </div>

      <div class="col-md-3">
        <div class="input-box-secondary">
          <span>Sistema afectado</span>
          <select name="" id="sp4EnferCron_transf_diagCIE10_sisa2"></select>
        </div>
      </div>
      <div class="col-md-3">
        <div class="input-box-secondary">
          <span>Sección afectada</span>
          <select name="" id="sp4EnferCron_transf_diagCIE10_seca2"></select>
        </div>
      </div>
    </div>
    
    <div class="row mb-5 d-flex justify-content-end ">
      <div class="col-md-3 col-sm-6">
          <button type="button" class="btn btn-success btn-block btn-lg"> 
            Agregar a la lista 
            <img class="inject-svg" src="./images/sho/plus.svg" alt="" fill="#fff" width="18px">
        </button>
      </div>
    </div>

    <div class="row mb-5">
      <!-- Nro de registros -->
      <div class="col-md-12">
        <div class="d-flex align-items-center">
          <div id="cant_planes">
            <img src="images/iconos/copia-1.svg" style="width: 20px" />
          </div>
          <span class="cantidad ml-3" style="font-size: 15px">1 registros</span>
        </div>
      </div>             

      <div class="table-responsive">
        <table class="table-box" id="table_sp4EnferCron_transf_diagCIE102">
          <thead>
            <tr>
              <th>Diagnóstico </th>
              <th>CI10</th>
              <th>Fecha de registro</th>
              <th>Especialidad</th>
              <th>Sistema afectado</th>
              <th width="500px">Seccion afectada</th>
              <th></th>
            </tr>
          </thead>
            <tbody id="content_sp4EnferCron_transf_diagCIE102">
              <tr>
                <td>Diagnóstico 1</td>
                <td>Tipo 1</td>
                <td>12/7/2021</td>
                <td>Especialidad </td>
                <td>Sistema 1</td>
                <td width="500px">Seccion 1</td>
                <td>
                  <img class="inject-svg" src="./images/sho/delete.svg" alt="" fill="#ff3636" width="18px">
                </td>
            </tr>  
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 col-sm-6">
        <div class="input-box-secondary">
          <span>Tratamiento</span>
          <input type="" id="sp4EnferCron_transf_diagCIE10_trat2">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Recibido por</span>
          <input type="" id="sp4EnferCron_transf_diagCIE10_recibido2">
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Lugar de destino</span>
          <input type="" id="sp4EnferCron_transf_diagCIE10_luga_des2">
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Fecha</span>
          <input type="date" id="sp4EnferCron_transf_diagCIE10_fecha2">
        </div>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-md-12 mb-5">
        <span class="titulo">Adjuntar archivos</span>
      </div>
      <div class="col-md-12 border d-flex justify-content-center">
        <div class="col-md-6 m-5">
          <button type="button" class="btn btn-success btn-lg btn-block" id=""> 
            Subir archivo
            <img class="inject-svg" src="./images/sho/upload.svg" alt="" fill="#fff" width="18px">
          </button>            
        </div>      
      </div>
    </div>   
    <!-- Respuesta de transferencia a Diagnostico CIE10 fin -->

  </div>
</div> 

<script src="./view/sho-hce/sp4_enfermedades_cronicas/js/main.js"></script>

<!-- Boostrap multiselect -->
<script type="text/javascript" src="./view/sho-hce/sp4_enfermedades_cronicas/js/bootstrap-multiselect.js"></script>

<script type="text/javascript">
$(document).ready(() => {
  SVGInject($(".inject-svg"));
});

$(document).ready(function() {
    $('#dat_impactDM_especialidades').multiselect();
    $('.multiselect').append(`
      <span class="multiselect_label">Especialidades</span>
    `)
});
</script>

<script src="js/sweetalert2.js"></script>
<script src="js/jquery.mask.min.js"></script>
<script src="js/svg-inject.min.js"></script>
