<!-- Boostrap multiselect -->
<link rel="stylesheet" href="./view/sho-hce/sp4_enfermedades_cronicas/css/bootstrap-multiselect.css" type="text/css"/>
<link rel="stylesheet" href="./view/sho-hce/sp4_enfermedades_cronicas/css/sho.css">
<!-- <link rel="stylesheet" href="css/sweetalert2.css"> -->

<div class="container main-content">
  <div>
    <!-- Enfermedades crónicas -->
    <!-- Titulos  -->
    <div class="row mb-5 d-flex justify-content-between align-items-center">
      <div class="p-2 mr-auto">
        <span class="titulo">Enfermedades crónicas</span>
      </div>
      <div class="p-2">
        <span class="subtitulo"> Mostrar datos </span>
        <!-- <span class="subtitulo"> Ocultar datos </span> -->
      </div>
    </div>
    <!-- Titulos  -->
    <!-- Datos -->
    <div class="row d-flex align-items-center">
      <div class="col-md-6">
        <img class="img-perfil mr-4" src="images/1-thumb.png">
        <span class="titulo">Erick Brian Arrasco Guevara</span>
      </div>
      <div class="col-md-3 pl-5">
        <span class="subtitulo">Ver datos completos</span>
      </div>
      <div class="col-md-3">
        <button class="btn btn-success btn-block btn-lg" type="button">
          Nueva atención 
          <img class="inject-svg" src="./images/sho/plus.svg" alt="" fill="#fff" width="18px">
        </button>
      </div>
    </div>
    <hr class="mt-4">
    <!-- Datos -->
    <!-- Registros button -->
    <div class="row mb-5 d-flex align-items-center">
      <div class="col-md-6 col-sm-6 mr-auto p-2">
        <span class="titulo"> Registros </span>
      </div>
      <div class="col-md-2 col-sm-6  p-2">
        <button type="button" class="btn btn-success btn-block btn-lg"> 
          Nuevo registro 
          <img class="inject-svg" src="./images/sho/plus.svg" alt="" fill="#fff" width="18px">
        </button>
      </div>
    </div>
    <!-- Registros button -->
    <!-- Enfermedades crónicas fin -->

    <!-- Enfermedad crónica 1 -->
    <div class="row mb-5 d-flex align-items-center">
      <div class="col-md-6 col-sm-6 mr-auto p-2">
        <span class="titulo"> Enfermedad crónica 1 </span>
      </div>
    </div>

    <!-- Nav-tabs -->
    <div class="row mb-5">
      <div class="col-md-12">
        <ul class="nav nav-pills mb-5" id="myTab" role="tablist">
          <li class="nav-item  mb-3">
            <a class="nav-link active" id="des_med-tab" data-toggle="tab" href="#des_med" role="tab" aria-controls="des_med" aria-selected="true">Descanso médico</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="transf-tab" data-toggle="tab" href="#transf" role="tab" aria-controls="transf" aria-selected="false">Transferencias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="inter_consul-tab" data-toggle="tab" href="#inter_consul" role="tab" aria-controls="inter_consul" aria-selected="false">Interconsulta</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="hist_coment-tab" data-toggle="tab" href="#hist_coment" role="tab" aria-controls="hist_coment" aria-selected="false">Historial de conmentarios</a>
          </li>
        </ul>
        <div class="tab-content mt-5" id="myTabContent">
          <!-- Descanso medico -->    
          <div class="tab-pane fade show active" id="des_med" role="tabpanel" aria-labelledby="des_med-tab">
            <!-- Nro de registros -->
            <div class="col-md-12">
              <div class="d-flex justify-content-end">
                <div id="cant_planes">
                  <img src="images/iconos/copia-1.svg" style="width: 20px" />
                </div>
                <span class="cantidad ml-3" style="font-size: 15px">1 registros</span>
              </div>
            </div>

            <div class="table-responsive">
              <table class="table-box" id="table_sp4EnferCron_des_med">
                <thead>
                  <tr>
                    <th>F. Inicio</th>
                    <th>F. Fin</th>
                    <th>Dias</th>
                    <th>Dias acumulados</th>
                    <th>Diagnóstico</th>
                    <th>Tipo de contingencia</th>                    
                    <th>Estableacimiento de emisión</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody id="content_sp4EnferCron_des_med">
                  <tr>
                    <td>10/02/2021</td>
                    <td>10/02/2021</td>
                    <td>1</td>
                    <td>1</td>                  
                    <td>Diagnostico 1</td>
                    <td>Tipo 1</td>                                        
                    <td>Establecimiento 1</td>                    
                    <td>
                      <div class="dropdown dropleft">
                        <a class="nav-link text-vertical" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          ...
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item">
                                <img src="./images/sho/eyeIcon.svg" alt="" fill="#01719d">
                                &nbsp;&nbsp; Ver descanso
                              </a>
                              <!-- <a class="dropdown-item">
                                <img src="./images/sho/edit.svg" alt="" fill="#8fbb02"> 
                                &nbsp;&nbsp;Editar
                              </a> -->
                        </div>
                      </div>                      
                    </td>
                  </tr>  
                </tbody>
              </table>
            </div>                        
          </div>
          <!-- Descanso medico fin-->

          <!-- Transferencias -->    
          <div class="tab-pane fade" id="transf" role="tabpanel" aria-labelledby="transf-tab">
            <!-- Nro de registros -->
            <div class="col-md-12">
              <div class="d-flex justify-content-end">
                <div id="cant_planes">
                  <img src="images/iconos/copia-1.svg" style="width: 20px" />
                </div>
                <span class="cantidad ml-3" style="font-size: 15px">1 registros</span>
              </div>
            </div>             

            <div class="table-responsive">
              <table class="table-box" id="table_sp4EnferCron_transf">
                <thead>
                  <tr>
                    <th>Código de transferencia</th>
                    <th>Establecimiento</th>
                    <th>Fecha de transferencia</th>
                    <th>Recepción de constancia </th>
                    <!-- <th>Diagnóstico</th> -->
                    <!-- <th>Tipo de contingencia</th>                     -->
                    <!-- <th>Estableacimiento de emisión</th> -->
                    <!-- <th></th> -->
                  </tr>
                </thead>
                <tbody id="content_sp4EnferCron_transf">
                  <tr>
                    <td>COD0001</td>
                    <td>Establecimiento 1</td>
                    <td>12/9/2021</td>
                    <td>Si</td>                  
                    <!-- <td>Diagnostico 1</td> -->
                    <!-- <td>Tipo 1</td>                                         -->
                    <!-- <td>Establecimiento 1</td>                     -->
                    <!-- <td>
                      <div class="dropdown dropleft">
                        <a class="nav-link text-vertical" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          ...
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item">
                                <img src="./images/sho/eyeIcon.svg" alt="" fill="#01719d">
                                &nbsp;&nbsp; Ver descanso
                              </a>
                              <a class="dropdown-item">
                                <img src="./images/sho/edit.svg" alt="" fill="#8fbb02"> 
                                &nbsp;&nbsp;Editar
                              </a>
                        </div>
                      </div>                      
                    </td> -->
                  </tr>  
                </tbody>
              </table>
            </div>            
          </div>
          <!-- Transferencias fin -->

          <!-- Interconsulta -->    
          <div class="tab-pane fade" id="inter_consul" role="tabpanel" aria-labelledby="inter_consul-tab">
            <!-- Nro de registros -->
            <div class="col-md-12">
              <div class="d-flex justify-content-end">
                <div id="cant_planes">
                  <img src="images/iconos/copia-1.svg" style="width: 20px" />
                </div>
                <span class="cantidad ml-3" style="font-size: 15px">1 registros</span>
              </div>
            </div>             

            <div class="table-responsive">
              <table class="table-box" id="table_sp4EnferCron_inter_consul">
                <thead>
                  <tr>
                    <th>Código de interconsulta</th>
                    <th>F.  Emisión</th>
                    <th>Especialidad </th>                    
                    <th>Recepcion de respuesta</th>
                    <th>Aptitud</th>
                    <!-- <th>Tipo de contingencia</th>                     -->
                    <!-- <th>Estableacimiento de emisión</th> -->
                    <th></th>
                  </tr>
                </thead>
                <tbody id="content_sp4EnferCron_inter_consul">
                  <tr>
                    <td>COD0001</td> 
                    <td>10/02/2021</td>
                    <td>Especialidad 1</td>                                     
                    <td>Si</td>
                    <td>Apto</td>
                    <!-- <td>Tipo 1</td>                                         -->
                    <!-- <td>Establecimiento 1</td>                     -->
                    <td>
                      <div class="dropdown dropleft">
                        <a class="nav-link text-vertical" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          ...
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item">
                                <img src="./images/sho/eyeIcon.svg" alt="" fill="#01719d">
                                &nbsp;&nbsp; Ver detalle
                              </a>
                        </div>
                      </div>                      
                    </td>
                  </tr>  
                </tbody>
              </table>
            </div>             
          </div> 
          <!-- Interconsulta -->

          <!-- Historial de conmentarios -->
          <div class="tab-pane fade" id="hist_coment" role="tabpanel" aria-labelledby="hist_coment-tab">
            <!-- Nro de registros -->
            <div class="col-md-12">
              <div class="d-flex justify-content-end">
                <div id="cant_planes">
                  <img src="images/iconos/copia-1.svg" style="width: 20px" />
                </div>
                <span class="cantidad ml-3" style="font-size: 15px">1 registros</span>
              </div>
            </div>             

            <div class="table-responsive">
              <table class="table-box" id="table_sp4EnferCron_hist_coment">
                <thead>
                  <tr>
                    <th>Fecha de registro</th>
                    <th width="700px">Comentarios</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody id="content_sp4EnferCron_hist_coment">
                  <tr>
                    <td>12/02/2021</td>
                    <td width="700px">Comentario 1</td>
                    <td>
                      <div class="dropdown dropleft">
                        <a class="nav-link text-vertical" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          ...
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item">
                                <img src="./images/sho/eyeIcon.svg" alt="" fill="#01719d">
                                &nbsp;&nbsp; Ver descanso
                              </a>
                              <a class="dropdown-item">
                                <img src="./images/sho/edit.svg" alt="" fill="#8fbb02"> 
                                &nbsp;&nbsp;Editar
                              </a>
                        </div>
                      </div>                      
                    </td>
                  </tr>  
                </tbody>
              </table>
            </div>             
          </div>
          <!-- Historial de conmentarios -->
        </div>    
                
      </div>
    </div>
    <!-- Nav-tabs -->  
    <!-- Enfermedad crónica 1 fin-->
    <hr class="mt-4">  

    <!-- Enfermedad crónica 2 -->
    <div class="row mb-5 d-flex align-items-center">
      <div class="col-md-6 col-sm-6 mr-auto p-2">
        <span class="titulo"> Enfermedad crónica 2 </span>
      </div>
    </div>

    <!-- Nav-tabs -->
    <div class="row mb-5">
      <div class="col-md-12">
        <ul class="nav nav-pills mb-5" id="myTab2" role="tablist">
          <li class="nav-item  mb-3">
            <a class="nav-link active" id="des_med2-tab" data-toggle="tab" href="#des_med2" role="tab" aria-controls="des_med2" aria-selected="true">Descanso médico</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="transf2-tab" data-toggle="tab" href="#transf2" role="tab" aria-controls="transf2" aria-selected="false">Transferencias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="inter_consul2-tab" data-toggle="tab" href="#inter_consul2" role="tab" aria-controls="inter_consul2" aria-selected="false">Interconsulta</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="hist_coment2-tab" data-toggle="tab" href="#hist_coment2" role="tab" aria-controls="hist_coment2" aria-selected="false">Historial de conmentarios</a>
          </li>
        </ul>
        <div class="tab-content mt-5" id="myTab2Content">
          <!-- Descanso medico -->    
          <div class="tab-pane fade show active" id="des_med2" role="tabpanel" aria-labelledby="des_med2-tab">
            <!-- Nro de registros -->
            <div class="col-md-12">
              <div class="d-flex justify-content-end">
                <div id="cant_planes">
                  <img src="images/iconos/copia-1.svg" style="width: 20px" />
                </div>
                <span class="cantidad ml-3" style="font-size: 15px">1 registros</span>
              </div>
            </div>

            <div class="table-responsive">
              <table class="table-box" id="table_sp4EnferCron_des_med2">
                <thead>
                  <tr>
                    <th>F. Inicio</th>
                    <th>F. Fin</th>
                    <th>Dias</th>
                    <th>Dias acumulados</th>
                    <th>Diagnóstico</th>
                    <th>Tipo de contingencia</th>                    
                    <th>Estableacimiento de emisión</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody id="content_sp4EnferCron_des_med2">
                  <tr>
                    <td>10/02/2021</td>
                    <td>10/02/2021</td>
                    <td>1</td>
                    <td>1</td>                  
                    <td>Diagnostico 1</td>
                    <td>Tipo 1</td>                                        
                    <td>Establecimiento 1</td>                    
                    <td>
                      <div class="dropdown dropleft">
                        <a class="nav-link text-vertical" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          ...
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item">
                                <img src="./images/sho/eyeIcon.svg" alt="" fill="#01719d">
                                &nbsp;&nbsp; Ver descanso
                              </a>
                              <!-- <a class="dropdown-item">
                                <img src="./images/sho/edit.svg" alt="" fill="#8fbb02"> 
                                &nbsp;&nbsp;Editar
                              </a> -->
                        </div>
                      </div>                      
                    </td>
                  </tr>  
                </tbody>
              </table>
            </div>                        
          </div>
          <!-- Descanso medico fin-->

          <!-- Transferencias -->    
          <div class="tab-pane fade" id="transf2" role="tabpanel" aria-labelledby="transf2-tab">
            <!-- Nro de registros -->
            <div class="col-md-12">
              <div class="d-flex justify-content-end">
                <div id="cant_planes">
                  <img src="images/iconos/copia-1.svg" style="width: 20px" />
                </div>
                <span class="cantidad ml-3" style="font-size: 15px">1 registros</span>
              </div>
            </div>             

            <div class="table-responsive">
              <table class="table-box" id="table_sp4EnferCron_transf2">
                <thead>
                  <tr>
                    <th>Código de transf2erencia</th>
                    <th>Establecimiento</th>
                    <th>Fecha de transf2erencia</th>
                    <th>Recepción de constancia </th>
                    <!-- <th>Diagnóstico</th> -->
                    <!-- <th>Tipo de contingencia</th>                     -->
                    <!-- <th>Estableacimiento de emisión</th> -->
                    <!-- <th></th> -->
                  </tr>
                </thead>
                <tbody id="content_sp4EnferCron_transf2">
                  <tr>
                    <td>COD0001</td>
                    <td>Establecimiento 1</td>
                    <td>12/9/2021</td>
                    <td>Si</td>                  
                    <!-- <td>Diagnostico 1</td> -->
                    <!-- <td>Tipo 1</td>                                         -->
                    <!-- <td>Establecimiento 1</td>                     -->
                    <!-- <td>
                      <div class="dropdown dropleft">
                        <a class="nav-link text-vertical" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          ...
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item">
                                <img src="./images/sho/eyeIcon.svg" alt="" fill="#01719d">
                                &nbsp;&nbsp; Ver descanso
                              </a>
                              <a class="dropdown-item">
                                <img src="./images/sho/edit.svg" alt="" fill="#8fbb02"> 
                                &nbsp;&nbsp;Editar
                              </a>
                        </div>
                      </div>                      
                    </td> -->
                  </tr>  
                </tbody>
              </table>
            </div>            
          </div>
          <!-- Transferencias fin -->

          <!-- Interconsulta -->    
          <div class="tab-pane fade" id="inter_consul2" role="tabpanel" aria-labelledby="inter_consul2-tab">
            <!-- Nro de registros -->
            <div class="col-md-12">
              <div class="d-flex justify-content-end">
                <div id="cant_planes">
                  <img src="images/iconos/copia-1.svg" style="width: 20px" />
                </div>
                <span class="cantidad ml-3" style="font-size: 15px">1 registros</span>
              </div>
            </div>             

            <div class="table-responsive">
              <table class="table-box" id="table_sp4EnferCron_inter_consul2">
                <thead>
                  <tr>
                    <th>Código de interconsulta</th>
                    <th>F.  Emisión</th>
                    <th>Especialidad </th>                    
                    <th>Recepcion de respuesta</th>
                    <th>Aptitud</th>
                    <!-- <th>Tipo de contingencia</th>                     -->
                    <!-- <th>Estableacimiento de emisión</th> -->
                    <th></th>
                  </tr>
                </thead>
                <tbody id="content_sp4EnferCron_inter_consul2">
                  <tr>
                    <td>COD0001</td> 
                    <td>10/02/2021</td>
                    <td>Especialidad 1</td>                                     
                    <td>Si</td>
                    <td>Apto</td>
                    <!-- <td>Tipo 1</td>                                         -->
                    <!-- <td>Establecimiento 1</td>                     -->
                    <td>
                      <div class="dropdown dropleft">
                        <a class="nav-link text-vertical" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          ...
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item">
                                <img src="./images/sho/eyeIcon.svg" alt="" fill="#01719d">
                                &nbsp;&nbsp; Ver detalle
                              </a>
                        </div>
                      </div>                      
                    </td>
                  </tr>  
                </tbody>
              </table>
            </div>             
          </div> 
          <!-- Interconsulta -->

          <!-- Historial de conmentarios -->
          <div class="tab-pane fade" id="hist_coment2" role="tabpanel" aria-labelledby="hist_coment2-tab">
            <!-- Nro de registros -->
            <div class="col-md-12">
              <div class="d-flex justify-content-end">
                <div id="cant_planes">
                  <img src="images/iconos/copia-1.svg" style="width: 20px" />
                </div>
                <span class="cantidad ml-3" style="font-size: 15px">1 registros</span>
              </div>
            </div>             

            <div class="table-responsive">
              <table class="table-box" id="table_sp4EnferCron_hist_coment2">
                <thead>
                  <tr>
                    <th>Fecha de registro</th>
                    <th width="700px">Comentarios</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody id="content_sp4EnferCron_hist_coment2">
                  <tr>
                    <td>12/02/2021</td>
                    <td width="700px">Comentario 1</td>
                    <td>
                      <div class="dropdown dropleft">
                        <a class="nav-link text-vertical" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          ...
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item">
                                <img src="./images/sho/eyeIcon.svg" alt="" fill="#01719d">
                                &nbsp;&nbsp; Ver descanso
                              </a>
                              <a class="dropdown-item">
                                <img src="./images/sho/edit.svg" alt="" fill="#8fbb02"> 
                                &nbsp;&nbsp;Editar
                              </a>
                        </div>
                      </div>                      
                    </td>
                  </tr>  
                </tbody>
              </table>
            </div>             
          </div>
          <!-- Historial de conmentarios -->
        </div>    
                
      </div>
    </div>
    <!-- Nav-tabs -->  
    <!-- Enfermedad crónica 2 fin-->

  </div>
</div>

<script src="./view/sho-hce/sp4_enfermedades_cronicas/js/main.js"></script>

<!-- Boostrap multiselect -->
<script type="text/javascript" src="./view/sho-hce/sp4_enfermedades_cronicas/js/bootstrap-multiselect.js"></script>

<script type="text/javascript">
$(document).ready(() => {
  SVGInject($(".inject-svg"));
});

$(document).ready(function() {
    $('#dat_impactDM_especialidades').multiselect();
    $('.multiselect').append(`
      <span class="multiselect_label">Especialidades</span>
    `)
});
</script>

<script src="js/sweetalert2.js"></script>
<script src="js/jquery.mask.min.js"></script>
<script src="js/svg-inject.min.js"></script>
