<div class="container w-75 mt-5">
    <div class="row">

        <div class="col text-center vinculoButt float-ttb-in" onclick="handlerUrlhtml('contentGlobal','view/accessRequestRegister.html','accessRequestRegister')">
        <br><br><br><br><br>  
                <div class="row">
                    <div class="col"><img src="images/iconMenuReunion.png" ></div>
                </div>
                <div class="row">
                    <div class="col h6 font-weight-bold mt-2">Nueva Reunión</div>
                </div>
                <div class="row">
                    <div class="col">Crea una nueva Reunión, <br>agrega paticipantes y vehículos</div>
                </div>
           
        </div>
        <div class="col text-center vinculoButt" onclick="handlerUrlhtml('contentGlobal','view/accessRequestList.html','accessRequestList')">
            <br><br><br><br><br>
            <div class="row">
                <div class="col"><img src="images/iconMenuReunion.png"></div>
            </div>
            <div class="row">
               <div class="col h6 font-weight-bold mt-2">Mis reuniones</div>
            </div>
            <div class="row">
                <div class="col">Revisa reuniones pendientes <br> y edita</div>
            </div>
       </div>

    </div>
</div>