<div class="container-fluid bg-light p-0" >
  
      <div class="row bg-white " style="padding: 12px; border-bottom: 1px solid #ebebeb;" >
		  <!-- buscar -->
        <div class="col-10 pt-2" style="height: 50px !important">
				<input type="text" id="tx_access_dni_list" maxlength="30"  name="tx_access_dni_list" class=" shadow-sm inputFind" placeholder="Buscar">
		</div>
		<div class="col-1 pt-2 text-center text-gray" >
			<span id="cantTotalCovid19" class="h3 mute">0</span><br><small class="text-gray" style="font-size: 12px;">Registros</small>
		   </div>
		<div class="col-1 text-right pt-3" style="height: 50px !important">
			<button type="button" class="btn btn-green-lime btn-rounded btn-raised " id="btnAddBlacklist"   onclick="searchAct=0;$('#modalShowpersonRisk').modal('show');"> Agregar <i class="fas fa-plus"></i><!-- <i class="material-icons">add</i> --></button>
		</div>


	  </div>
	  
		
	<!-- listado -->
	<div class="row ">
		
        <div class="col ">
          <div class="card p-0" style="box-shadow: none;">
            <div class="card-body p-0 " >
		      <table id="tb_risk_list" name="tb_risk_list" class="table p-0" style="width:100%">
		      </table>
            </div>
		  </div>
		  
		  
        </div>

	  </div>
	  

    <!-- modal ingresar -->
    
    <div class="modal fade col-md-12"  id="modalShowpersonRisk" tabindex="-1" role="dialogooo" aria-labelledby="modalAddCompanyTitle" aria-hidden="true">
      <div class="modal-dialog modal-xl modal-dialog-centered rounded " role="document" style="max-width:80%; z-index: 1030; " >
        <div class="modal-content rounded " style=" background-color:rgba(0,0,0,.0001);  box-shadow: none;">        
          <div class="modal-header" style="padding:5px 24px 0!important">
            <h5 class="modal-title"></h5>
          </div>
          
          <div style=" ">
            <div class="modal-body p-3" id="modal_show_request_details12">  
              <div class="row">
                <div class="col-sm-12 col-md-12">
                  <div class="card" style=" border-radius: 10px; box-shadow: none;">
                    <div class="card-header text-white " style=" border-radius: 10px 10px 0px 0px; background: #35569d ; height: 55px;">                  
                      <div class="row">                        
                        <div class="col">
                          <h6 style="font-size:20px">&nbsp;&nbsp;<b>Registrar</b></h6>                          
                        </div>
                                
                     
                      
                       
                      </div>                    
                    </div>
                          
                    <div style="width: 100%;padding-top: 10px;padding-left: 10px;padding-right: 10px; " class="p-3"> 
                      <div class="row" id="modal_show_request_details">
                        <div class="col-6">
                          <div class="form-group">
                            <label for="sel_area" class="bmd-label-static titleInput">Documento<span class="text-warning">*</span></label>    
                            <input type="text" class="form-control" id="tx_identity_document">
                          </div>
                        </div>
                        <div class="col-6">
                          <div class="form-group">
                            <label for="sel_area" class="bmd-label-static titleInput">Nombre<span class="text-warning">*</span></label>    
                            <input type="text" class="form-control" id="tx_name">
                          </div>
                        </div>
                        <div class="col-6" hidden>
                          <div class="form-group">
                            <label for="sel_area" class="bmd-label-static titleInput">Unidad<span class="text-warning">*</span></label>    
                            <input type="text" class="form-control" id="tx_unidadno">
                          </div>
                        </div>
                        <div class="col-6" >
                          <div class="form-group">
                            <label for="tx_unidad" class="bmd-label-static titleInput">Sede<span class="text-warning">*</span></label>    
                            <select class="form-control" id="tx_unidad">
                              <option value="">Seleccionar</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-6" hidden>
                          <div class="form-group">
                            <label for="sel_area" class="bmd-label-static titleInput">Area<span class="text-warning">*</span></label>    
                            <select class="form-control" id="sel_area">
                              <option value="">Seleccionar</option>
                            </select>
                          </div>
                        </div>
                    </div>                      
                   
                      <br>  
                      <div class="row text-right">
                        <div class="col-sm-4">
                          <button type="button" class="btn btn-green-lime btn-rounded btn-raised" id="butRegisterRisk" onclick="vw_risk_list.saveRisklist();">Registrar</button>
                        </div>
                        <div class="col-sm-4">
                          <button type="button" class="btn btn-primary btn-rounded btn-raised" onclick="$('#modalShowpersonRisk').modal('hide')">Cancelar</button>
                        </div>	
                        <div class="col-sm-4"></div>
                      </div> 
                    </div>                  
                  </div>      
                </div>        
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>




    <!-- modal editar -->
    
    <div class="modal fade col-md-12"  id="modalShowpersonRiske" tabindex="-1" role="dialogooo" aria-labelledby="modalAddCompanyTitle" aria-hidden="true">
      <div class="modal-dialog modal-xl modal-dialog-centered rounded " role="document" style="max-width:80%; z-index: 1030; " >
        <div class="modal-content rounded " style=" background-color:rgba(0,0,0,.0001);  box-shadow: none;">        
          <div class="modal-header" style="padding:5px 24px 0!important">
            <h5 class="modal-title"></h5>
          </div>
          
          <div style=" ">
            <div class="modal-body p-3" id="modal_show_request_details12">  
              <div class="row">
                <div class="col-sm-12 col-md-12">
                  <div class="card" style=" border-radius: 10px; box-shadow: none;">
                    <div class="card-header text-white " style=" border-radius: 10px 10px 0px 0px; background: #35569d ; height: 55px;">                  
                      <div class="row">                        
                        <div class="col">
                          <h6 style="font-size:20px">&nbsp;&nbsp;<b>Editar</b></h6>                          
                        </div>

                      </div>                    
                    </div>
                          
                    <div style="width: 100%;padding-top: 10px;padding-left: 10px;padding-right: 10px; " class="p-3"> 
                      <div class="row" id="modal_show_request_details">
                        <div class="col-6">
                          <div class="form-group">
                            <label for="sel_area" class="bmd-label-static titleInput">Documento<span class="text-warning">*</span></label>    
                            <input type="text" class="form-control" id="tx_identity_document_e">
                          </div>
                        </div>
                        <div class="col-6">
                          <div class="form-group">
                            <label for="sel_area" class="bmd-label-static titleInput">Nombre<span class="text-warning">*</span></label>    
                            <input type="text" class="form-control" id="tx_name_e">
                          </div>
                        </div>
                        <div class="col-6">
                          <div class="form-group">
                            <label for="sel_area" class="bmd-label-static titleInput">Unidad<span class="text-warning">*</span></label>    
                            <input type="text" class="form-control" id="tx_unidad_e">
                          </div>
                        </div>
                        <div class="col-6">
                          <div class="form-group">
                            <label for="sel_area" class="bmd-label-static titleInput">Estado<span class="text-warning">*</span></label>    
                            <select class="form-control" id="sel_status_e">
                            <option value="1">Activo</option>
                            <option value="2">Inactivo</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-6" hidden>
                          <div class="form-group">
                            <label for="sel_area" class="bmd-label-static titleInput">Sede<span class="text-warning">*</span></label>    
                            <select class="form-control" id="sel_location_E">
                              <option value="">Seleccionar</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-6" hidden>
                          <div class="form-group">
                            <label for="sel_area" class="bmd-label-static titleInput">Area<span class="text-warning">*</span></label>    
                            <select class="form-control" id="sel_area_e">
                              <option value="">Seleccionar</option>
                            </select>
                          </div>
                        </div>
                        <input type="hidden" id="h_id" >
                    </div>                   
                   
                      <br>  
                      <div class="row text-right">
                        <div class="col-sm-4">
                          <button type="button" class="btn btn-green-lime btn-rounded btn-raised" id="butRegisterRisk" onclick="vw_risk_list.updateRiskList();">Actualizar</button>
                        </div>
                        <div class="col-sm-4">
                          <button type="button" class="btn btn-primary btn-rounded btn-raised" onclick="$('#modalShowpersonRiske').modal('hide')">Cancelar</button>
                        </div>	
                        <div class="col-sm-4"></div>
                      </div> 
                    </div>                  
                  </div>      
                </div>        
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
	  
 
</div>