<link rel="stylesheet" href="css/sho.css">
<link rel="stylesheet" type="text/css" href="view/sho-hce/accidente_trabajo/styles.css">
<div class="container main-content">
    <div class="row mb-5 align-items-center">
      <div class="col-md-6 col-sm-12">
        <span class="titulo">Datos del informe médico</span>
      </div>
      <div class="col-md-6 col-sm-12 d-flex justify-content-end">
        <button type="button" style="width:200px" class="btn btn-danger btn-block btn-lg mr-3"> Cancelar <img src="./images/sho/cancelar.svg" alt="">
        </button>
        <button type="button" style="width:200px"  class="btn btn-success btn-block btn-lg m-0"> Guardar <img src="./images/sho/confirm.svg" alt="">
        </button>
      </div>
    </div>
    <div class="row mb-5">
        <div class="col-md-4">
            <div class="form-group m-0">
                <div class="input-box-secondary">
                    <span>Fecha del infome</span>
                    <input type="text">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group m-0">
                <div class="input-box-secondary">
                    <span>Especialidad</span>
                    <select></select>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-md-12 d-flex">
          <h2 class="title-section">
            Diagnósticos
          </h2>
        </div>
    </div>
    <div class="row mb-5">
      <div class="col-md-3">
          <div class="form-group m-0">
              <div class="input-box-secondary">
                  <span>Diagnóstico</span>
                  <select></select>
              </div>
          </div>
      </div>
      <div class="col-md-3">
          <div class="form-group m-0">
              <div class="input-box-secondary">
                  <span>CIE 10</span>
                  <select></select>
              </div>
          </div>
      </div>
      <div class="col-md-3">
          <div class="form-group m-0">
              <div class="input-box-secondary">
                  <span>Sistema afectado</span>
                  <select></select>
              </div>
          </div>
      </div>
      <div class="col-md-3">
          <div class="form-group m-0">
              <div class="input-box-secondary">
                  <span>Sección afectada</span>
                  <select></select>
              </div>
          </div>
      </div>
      <div class="col-md-12">
          <button type="button" class="btn btn-success btn-block btn-lg"
           style="width:200px; float:right;"> Agregar a la lista <img src="./images/sho/plus.svg" alt="" />
          </button>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-12">
        <div class="d-flex align-items-center">
          <div id="">
            <img src="images/iconos/copia-1.svg" style="width: 20px" />
          </div>
          <span class="cantidad ml-3" id="dat_am_cantidad_medicamentos" style="font-size: 15px">0 archivos</span>
        </div>
      </div>
    </div>
    <div class="row mb-5">
        <div class="col-sm-12">
            <table class="table-box">
                <thead>
                    <th>Diagnóstico</th>
                    <th>CIE 10</th>
                    <th>Fecha de registro</th>
                    <th>Especialidad</th>
                    <th>Sistem afectado</th>
                    <th>Sección afectada</th>
                    <th></th>
                </thead>
                <tbody>
                    <tr>
                        <td>Diagnostico 1</td>
                        <td>Tipo 1</td>
                        <td>21/12/2021</td>
                        <td>Especialidad 1</td>
                        <td>Sistema 1</td>
                        <td>Sección 1</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-12 d-flex">
            <h2 class="title-section">
               Adjuntar documento
            </h2>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-md-12">
            <div class="input_file_upload border-content">
              <label class="btn btn-success btn-lg" for="file_upload_descanso">
                <span> Subir archivo </span>
                <img src="./images/sho/upload.svg" style="width:14px !important">
              </label>
              <input type="file" id="file_upload_descanso" accept="application/pdf, .pdf, .doc, docx, .odf" onchange="">
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="view/sho-hce/accidente_trabajo/gestionAccidenteTrabajo.js"></script>