<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <title>Buscador</title>
  </head>
  <style type="text/css">
  	div {
  		color: #000000;
  		font-family: calibri;
  		font-weight: bold;
  	}
  	.filtros:hover {
  		color: #2958b8;
  		cursor: pointer;
  	}
  </style>
  <body>
  	<div class="form-control">
  		<div class="form-row">
	    	<div class="col-md-9">Módulo de salud ocupacional</div>
			<div class="col-md-3">
				Buscar <input type="text" name="buscador" id="buscador" class="form-group">
				<span class="form-group">
					 <i class="fa fa-search"></i>
				</span>
			</div>
		</div>
			
		<div class="form-row">
			<div class="col-md-3 filtros"><i class="fa fa-hospital-o"></i> Historia Clínica Electrónica (HCE)</div>
			<div class="col-md-3 filtros"><i class="fa fa-file-text"></i> Registro Estadistico de EMO</div>
			<div class="col-md-3 filtros"><i class="fa fa-folder"></i> Auditoría para centros médicos</div>
			<div class="col-md-3 filtros"><i class="fa fa-file"></i> Levantamiento de observaciones a centros médicos</div>
		</div>
		<div class="form-row">
			<div class="col-md-3 filtros"><i class="fa fa-file"></i> Registro de inspecciónd de Instalaciones</div>
			<div class="col-md-3 filtros"><i class="fa fa-search"></i> Investigación de Enfermedades Ocupacionales</div>
			<div class="col-md-3 filtros"><i class="fa fa-pencil-square"></i> Revisión de Menú Mensual</div>
			<div class="col-md-3 filtros"><i class="fa fa-folder"></i> Registro de Enfermedades Ocupacionales</div>
		</div>
		<div class="form-row">
			<div class="col-md-3 filtros"><i class="fa fa-user"></i> Registro de Enfermedades Crónicas</div>
			<div class="col-md-3 filtros"><i class="fa fa-user"></i> Registro de Exámenes Toxicológicos</div>
			<div class="col-md-3 filtros"><i class="fa fa-user"></i> Registro de Atenciones Médicas</div>
			<div class="col-md-3 filtros"><i class="fa fa-folder"></i> Registro Estadístico de VMO</div>
		</div>
		<div class="form-row">
			<div class="col-md-3 filtros"><i class="fa fa-user"></i> Accidentes de Trabajo</div>
			<div class="col-md-3 filtros"><i class="fa fa-user"></i> Registro de Trabajadores Reubicados</div>
			<div class="col-md-3 filtros"><i class="fa fa-pencil-square"></i> Registro de Vacunas</div>
			<div class="col-md-3 filtros"><i class="fa fa-bed"></i> Registro de Descansos Médicos</div>
		</div>
	</div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</body>
<script type="text/javascript">
	$('#buscador').on('keyup',function () {
		var valor = $(this).val();
		valor = valor.toLowerCase();
		$('.filtros').attr('style','display: block;');
		
		$('.filtros').each(function () {
			var str = $(this).html();
			str = str.toLowerCase();
			if (str.includes(valor)==false) {
				$(this).attr('style','display: none;');
			}
		});
	});
</script>
</html>
