<link rel="stylesheet" href="./view/sho-hce/descansos_medicos/sho.css">
<link rel="stylesheet" href="css/sweetalert2.css">

<div class="container main-content">
  <!-- SAP FORM -->
  <div>
    <div class="row mb-5 d-flex align-items-center">
      <div class="col-md-6 col-sm-6 mr-auto p-2">
        <span class="titulo">Datos del DM - SAP</span>
      </div>
      <div class=" col-md-2 col-sm-6  p-2">
        <button onclick="" type="button" class="btn btn-danger btn-block btn-lg" id="fn_hc_cancelar"> Cancelar <img class="inject-svg" src="./images/sho/cancelar.svg" alt="" fill="#fff" width="18px">
        </button>
      </div>
      <div class="col-md-2 col-sm-6  p-2">
        <button type="button" class="btn btn-success btn-block btn-lg" onclick="desSp3ConfirmGuardarSAP()"> Guardar <img class="inject-svg" src="./images/sho/confirm.svg" alt="" fill="#fff" width="18px">
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Nro de documento</span>
          <input type="text" id="dat_des_dni_trabajador" disabled>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Nombres</span>
          <input type="text" id="dat_des_nombres_trabajador" disabled>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Apellidos</span>
          <input type="text" id="dat_des_apellidos_trabajador" disabled>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Ocupación</span>
          <input type="text" id="dat_des_ocupacion" disabled>
        </div>
      </div>      
    </div>

    <div class="row">
      <div class="col-md-3 col-sm-4">
        <div class="input-box-secondary">
          <span>Fecha de inicio</span>
          <input type="text" id="dat_des_fi" disabled>
        </div>
      </div>

      <div class="col-md-3 col-sm-4">
        <div class="input-box-secondary">
          <span>Fecha fin</span>
          <input type="text" id="dat_des_ff" disabled>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Dias</span>
          <input type="text" id="dat_des_dias" disabled>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Acumulado</span>
          <input type="text" id="dat_des_acumulado" disabled>
        </div>
      </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Puesto de trabajo</span>
          <input type="text" id="dat_des_puesto" disabled>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Tipo de contingencia</span>
          <select name="" id="dat_des_contingenci" disabled>
          </select>
        </div>
      </div>
    </div>
    <hr class="mb-5 mt-4" />

    <!-- Asginación -->
    <div class="row mb-5">
      <div class="col-md-12 box">
        <span class="titulo">Asignación de DM-SHO</span>
      </div>
    </div>

    <div class="row d-flex justify-content-between">
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Nro de documento</span>
          <input type="text" id="dat_des_nro_doc" disabled>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <button class="btn btn-success btn-lg btn-block" id="dat_des_buscar">Buscar</button>
      </div>
    </div>
    <hr class="mb-5 mt-4" />
    <!-- FIN Asginación -->

    <!-- DIAGNOSTICO CIE 10 -->  
    <div class="row mb-5">
      <div class="col-md-12">
        <span class="titulo">Diagnóstico CIE 10</span>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-12">
        <div class="d-flex align-items-center">
          <div id="cant_planes">
            <img src="images/iconos/copia-1.svg" style="width: 20px" />
          </div>
          <span class="cantidad ml-3" style="font-size: 15px">1 registros</span>
        </div>
      </div>
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table-box" id="table_sap">
            <thead>
              <tr>
                <th>Codigo descanso</th>
                <th>Nro de documento</th>
                <th>Fecha de inicio</th>
                <th>Fecha fin</th>
                <th>Días</th>
                <th>Tipo de contingencia</th>
                <th>Diagnostico</th>
                <th></th>
              </tr>
            </thead>
            <tbody id="content_sap_diagnostico">
              <td>COD0001</td>
              <td>13123241</td>
              <td>10/02/2021</td>
              <td>20/02/2021</td>
              <td>10</td>
              <td>Tipo 1</td>
              <td>Diagnostico 1</td>
              <td>
                <img class="inject-svg" src="./images/sho/confirm.svg" alt="" fill="#8fbb02" width="18px">
              </td>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  
  <!-- FIN DIAGNOSTICO CIE 10 -->
  </div>
  <!-- FIN SAP Forms -->
</div>

<script src="./view/sho-hce/descansos_medicos/js/main.js"></script>

<script src="js/sweetalert2.js"></script>
<script src="js/jquery.mask.min.js"></script>
<script src="js/svg-inject.min.js"></script>
<script type="text/javascript">
$(document).ready(() => {
  SVGInject($(".inject-svg"));
});
</script>