<!-- Boostrap multiselect -->
<link rel="stylesheet" href="./view/sho-hce/enfermedades_cronicas/css/bootstrap-multiselect.css" type="text/css"/>
<link rel="stylesheet" href="./view/sho-hce/enfermedades_cronicas/css/sho.css">

<div class="container main-content">
  <div>
    <!-- Interconsulta  -->
    <div class="row mb-5 d-flex justify-content-between align-items-center">
      <div class="p-2 mr-auto">
        <span class="titulo">Interconsulta</span>
      </div>
      <div class=" col-md-2 col-sm-6  p-2">
        <button onclick="showIndexEC();" type="button" class="btn btn-danger btn-block btn-lg" id=""> Cancelar <img class="inject-svg" src="./images/sho/cancelar.svg" alt="" fill="#fff" width="18px">
        </button>
      </div>
      <div class="col-md-2 col-sm-6  p-2">
        <button type="button" class="btn btn-success btn-block btn-lg" onclick="amSp4ConfirmarCRUDInterconsultaEC(1);"> Guardar <img class="inject-svg" src="./images/sho/confirm.svg" alt="" fill="#fff" width="18px">
        </button>
      </div>
    </div>
    <!-- Fila 1 -->
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Empresa</span>
          <input type="" id="dat_empresa" class="submit" >
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Fecha de Interconsulta</span>
          <input type="date" name="" id="dat_fecha_interconsulta" class="submit" disabled>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="input-box-secondary">
          <span>Interconsulta a la especialidad de</span>
          <select id="dat_especialidad" class="submit">
          </select>
        </div>
      </div>
    </div>                    
    <!-- Fila 1 fin -->
    <!-- Fila 2 -->
    <div class="row">
      <div class="col-md-12 col-sm-6">
        <div class="input-box-secondary">
          <span>Motivo de Interconsulta</span>
          <input type="" id="dat_motivo" class="submit">
        </div>
      </div>
    </div>                    
    <!-- Fila 2 fin -->
    <!-- Fila 3 -->
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="input-box-secondary">
          <span>Se solicita</span>
          <input name="" id="dat_se_solicita" class="submit">
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="input-box-secondary">
          <span>Otros</span>
          <input name="" id="dat_otros" class="submit">
        </div>
      </div>
    </div>
    <!-- Fila 3 fin -->
    <!-- Fila 4 -->
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Médico a cargo</span>
          <input name="" id="dat_medico_cargo" class="submit">
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>C.M.P.</span>
          <input name="" id="dat_cmp" class="submit">
        </div>
      </div>
    </div>
    <!-- Fila 4 fin -->
    <div class="row mb-5">
      <div class="col-md-12 mb-5">
        <span class="titulo">Adjuntar archivos</span>
      </div>
      <div class="col-md-12 border d-flex justify-content-center">
        <div class="col-md-6 m-5">
          <button type="button" class="btn btn-success btn-lg btn-block" id=""> 
            Subir archivo
            <img class="inject-svg" src="./images/sho/upload.svg" alt="" fill="#fff" width="18px">
          </button>            
        </div>      
      </div>
    </div>
    <hr class="mb-5 mt-4" />
    <!-- Interconsulta  -->
    <!-- Respuesta a interconsulta  -->
    <div class="row mb-5 d-flex justify-content-between align-items-center">
      <div class="p-2 mr-auto">
        <span class="titulo">Respuesta a interconsulta</span>
      </div>
    </div>
    <!-- Fila 1 -->
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Institución de salud</span>
          <input type="" id="dat_institucion_salud" class="submit">
        </div>
      </div>
      <div class="col-md-3 col-sm-6 ">
        <div class="input-box-secondary">
          <span>Fecha de respuesta</span>
          <input type="date" name="" id="dat_fecha_respuesta" class="submit">
        </div>
      </div>
      <div class="col-md-3 col-sm-6 offset-md-3">
        <div class="input-box-secondary pb-3">
          <span>¿Recibio respuesta?</span>
        </div>
          <input type="radio" name="dat_recibio_respuesta" id="dat_recibio_respuesta_si" value="1" checked>
          <label class="mr-5" for="dat_recibio_respuesta_si">Si</label>
          <input type="radio" name="dat_recibio_respuesta" id="dat_recibio_respuesta_no" value="0">
          <label class="mr-5" for="dat_recibio_respuesta_no">No</label>
      </div>
    </div>                    
    <!-- Fila 1 fin -->
    <!-- Fila 2 -->
    <div class="row">
      <div class="col-md-12 col-sm-6">
        <div class="input-box-secondary">
          <span>Hallazgos de evaluación</span>
          <input type="" id="dat_hallazgo" class="submit">
        </div>
      </div>
    </div>                    
    <!-- Fila 2 fin -->
    <!-- Fila 3 -->
    <div class="row">
      <div class="col-md-12 col-sm-6">
        <div class="input-box-secondary">
          <span>Examenes auxiliares</span>
          <input type="" id="dat_examenes_auxiliares" class="submit">
        </div>
      </div>
    </div>
    <!-- Fila 3 fin -->
    <hr class="mb-5 mt-4" />
    <!-- Respuesta a interconsulta  -->
    <!-- Diagnostico CIE10 -->
    <div class="row mb-5 d-flex align-items-center">
      <div class="col-md-12">
        <span class="titulo">Diagnostico CIE10</span>
      </div>
    </div>
    <div class="row mb-5 d-flex align-items-center">
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary ">
          <span>Diagnóstico</span>
            <div class="dropdown" id='listaResultado_INT'>
              <input autocomplete="off" style="font-size: 13px !important;" class="dropbtn input_am_diagnostico check-diagnosticocie10" placeholder="Diagnóstico" type="text" id="sp4EnferCron_intercon_diagCIE10_diag"
               onkeyup="_newDiagnosticoCIE10('sp4EnferCron_intercon_diagCIE10_diag', 'listaResultadoHijos_TRAN', 'sp4EnferCron_intercon_diagCIE10_cie10', 'dat_amT_cie_diagnostico1');" 
               style='background:white; border:1px solid; color:black;'>              
              <div class="dropdown-menu show" id='listaResultadoHijos_TRAN' style="display:none; ">                
              </div>
            </div> 
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary ">
          <span>CIE 10</span>
          <div class="dropdown" id='listaResultado_ii_INT'>
            <input autocomplete="off" placeholder="CIE 10" class="dropbtn input_am_diagnostico check-diagnosticocie10" style=" font-size: 13px;" type="text" id="sp4EnferCron_intercon_diagCIE10_cie10"
             onkeyup="_newDiagnosticoCIE102('sp4EnferCron_intercon_diagCIE10_cie10', 'listaResultadoHijos2_TRAN', 'sp4EnferCron_intercon_diagCIE10_diag', 'dat_amT_cie_diagnostico1');" 
             style='background:white; border:1px solid; color:black;'>
            <div class="dropdown-menu show" id='listaResultadoHijos2_TRAN' style="display:none; ">              
            </div>
          </div> 
          <input class="input_am_diagnostico" type="hidden" id="dat_amT_cie_diagnostico1">
        </div>
      </div>
      <div class="col-md-3">
        <div class="input-box-secondary">
          <span>Sistema afectado</span>
          <select name="" id="dat_sistema_afectado" class="check-diagnosticocie10">
          </select>
        </div>
      </div>
      <div class="col-md-3">
        <div class="input-box-secondary">
          <span>Sección afectada</span>
          <select name="" id="dat_seccion_afectada" class="check-diagnosticocie10">
          </select>
        </div>
      </div>
    </div>
    <div class="row mb-5 d-flex justify-content-end ">
      <div class="col-md-3 col-sm-6">
          <button type="button" class="btn btn-success btn-block btn-lg" onclick="addDiagnosticoCIE10();"> 
            Agregar a la lista 
            <img class="inject-svg" src="./images/sho/plus.svg" alt="" fill="#fff" width="18px">
        </button>
      </div>
    </div>
    <div class="row mb-5">
      <!-- Nro de registros -->
      <div class="col-md-12">
        <div class="d-flex align-items-center">
          <div id="cant_planes">
            <img src="images/iconos/copia-1.svg" style="width: 20px" />
          </div>
          <span class="cantidad ml-3" style="font-size: 15px">
            <span id="table_sp4EnferCron_intercon_diagCIE10-count-row">2</span> registros</span>
        </div>
      </div>             
      <div class="table-responsive">
        <table class="table-box table-container" id="table_sp4EnferCron_intercon_diagCIE10">
          <thead>
            <tr>
              <th>Diagnóstico </th>
              <th>CI10</th>
              <th>Fecha de registro</th>
              <th>Especialidad</th>
              <th>Sistema afectado</th>
              <th width="500px">Seccion afectada</th>
              <th></th>
            </tr>
          </thead>
          <tbody id="content_sp4EnferCron_intercon_diagCIE10">
            <tr class="table-empty">            
              <td colspan="7" class="text-center text-uppercase">
                No hay informacion registrada 
              </td>
            </tr>  
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-6">
        <div class="input-box-secondary">
          <span>Tratamiento</span>
          <input type="" id="dat_tratamiento" class="submit">
        </div>
      </div>
    </div> 
    <!-- Diagnostico CIE10 fin -->
    <!-- Recomendaciones  -->
    <div class="row mb-5 d-flex justify-content-between align-items-center">
      <div class="p-2 mr-auto">
        <span class="titulo">Recomendaciones</span>
      </div>
    </div>
    <!-- Fila 1 -->
    <div class="row">
      <div class="col-md-12 col-sm-6">
        <div class="input-box-secondary">
          <span>Recomendaciones</span>
          <input type="" id="dat_recomendaciones" placeholder="Escribir" class="submit">
        </div>
      </div>
    </div>                    
    <!-- Fila 1 fin -->
    <!-- Fila 2 -->
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary p-3">
          <span>¿Requiere de controles posteriores?</span>
        </div>
          <input type="radio" name="dat_requiere_control_posterior" id="dat_requiere_control_posterior_si" value="1" checked>
          <label class="mr-5" for="dat_requiere_control_posterior_si">Si</label>
          <input type="radio" name="dat_requiere_control_posterior" id="dat_requiere_control_posterior_no" value="0">
          <label class="mr-5" for="dat_requiere_control_posterior_no">No</label>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="input-box-secondary p-3">
          <span>Aptitud para laborar en ocupación y aptitud indicada (Sólo para Médicos)</span>
        </div>
          <input type="radio" name="dat_aptitud" id="dat_aptitud_si" value="1" checked>
          <label class="mr-5" for="dat_aptitud_si">Si</label>
          <input type="radio" name="dat_aptitud" id="dat_aptitud_no" value="0">
          <label class="mr-5" for="dat_aptitud_no">No</label>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span> Fecha de proximo control</span>
          <input type="date" id="dat_fecha_proximo_control" class="submit">
        </div>
      </div>
    </div>                    
    <!-- Fila 2 fin -->
    <!-- Fila 3 -->
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Médico / Evaluador</span>
          <input type="" id="dat_medico_evaluador" class="submit">
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>C.M.P.</span>
          <input type="" id="dat_cmp_recomendaciones" class="submit">
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>R.N.E.</span>
          <input type="" id="dat_rne" class="submit">
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Otro</span>
          <input type="" id="dat_otros_recomendaciones" class="submit">
        </div>
      </div>
    </div>
    <!-- Fila 3 fin -->
    <div class="row mt-5">
      <div class="col-md-12 mb-5">
        <span class="titulo">Adjuntar archivos</span>
      </div>
      <div class="col-md-12 border d-flex justify-content-center">
        <div class="col-md-6 m-5">
          <button type="button" class="btn btn-success btn-lg btn-block" id=""> 
            Subir archivo
            <img class="inject-svg" src="./images/sho/upload.svg" alt="" fill="#fff" width="18px">
          </button>            
        </div>      
      </div>
    </div>
    <!-- Recomendaciones  -->
  </div>
</div> 

<script src="./view/sho-hce/enfermedades_cronicas/js/main.js"></script>

<!-- Boostrap multiselect -->
<script type="text/javascript" src="./view/sho-hce/enfermedades_cronicas/js/bootstrap-multiselect.js"></script>

<script type="text/javascript">
  
$(document).ready(() => {

  SVGInject($(".inject-svg"));

});

function ecSp4cargarSelectInterconsultaEnfermedadesCronicas(){

  let contenido = '';

  //Cargando Select de especialidades
  contenido = $('#dat_especialidad');
  contenido.append(`<option value="" selected></option>`);

  pluck_ec["Especialidades"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Descripcion}</option>`)
  });

  //Cargando Select de sistemas afectados
  contenido = $('#dat_sistema_afectado');
  contenido.append(`<option value="" selected></option>`);

  pluck_ec["SistemaAfectado"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Descripcion}</option>`)
  });

  //Cargando Select de seccion afectada
  contenido = $('#dat_seccion_afectada');
  contenido.append(`<option value="" selected></option>`);

  pluck_ec["SeccionAfectada"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Descripcion}</option>`)
  });

}

function ecSp4cargarDatosGeneralesEC(){

  $('#dat_fecha_interconsulta').val(cargarFechaHoy());

}

async function _init_ecSp4InterconsultaEnfermedadesCronicas() {

  //Se inicia el Cargando
  showLoading();

  await ecSp4cargarSistemaAfectado();
  await ecSp4cargarSeccionAfectada();
  await ecSp4cargarSelectInterconsultaEnfermedadesCronicas();
  await ecSp4cargarDatosGeneralesEC(); 
  await amSp4GuardarEditarInterconsultaEnfermedadCronica(0); 

  //Se apaga el Cargando
  hideLoading();

}

$(document).ready(function() {

  _init_ecSp4InterconsultaEnfermedadesCronicas();

  $('.table-container').on('click',".btn-delete", onBtnDeleteRow);

  /*var varJson= {
    "diagnosticocie10": [
      {
        "diagnostico": "Diagnóstico 1",
        "ci10": "Tipo  1",
        "fecha_registro": "12/7/2021",
        "especialidad": "Especialidad 1",
        "sistema_afectado": "Sistema  1",
        "seccion_afectada": "Seccion 1"
      },
      {
        "diagnostico": "Diagnóstico 2",
        "ci10": "Tipo  2",
        "fecha_registro": "12/7/2021",
        "especialidad": "Especialidad 2",
        "sistema_afectado": "Sistema  2",
        "seccion_afectada": "Seccion 20"
      }
    ]
  };

  $('#table_sp4EnferCron_intercon_diagCIE10-count-row').text(Object.keys(varJson.diagnosticocie10).length);
  $("#table_sp4EnferCron_intercon_diagCIE10 tbody").find(".table-row").remove();

  $.each(varJson.diagnosticocie10, function(index,accountObj){
    
    html_tbody = "<tr class='table-row'>";
    html_tbody += "<td>";
    html_tbody += accountObj.diagnostico;
    html_tbody += "</td>";
    html_tbody += "<td>";
    html_tbody += accountObj.ci10;
    html_tbody += "</td>";
    html_tbody += "<td>";
    html_tbody += accountObj.fecha_registro;
    html_tbody += "</td>";
    html_tbody += "<td>";
    html_tbody += accountObj.especialidad;
    html_tbody += "</td>";
    html_tbody += "<td>";
    html_tbody += accountObj.sistema_afectado;
    html_tbody += "</td>";
    html_tbody += "<td width='500px'>";
    html_tbody += accountObj.seccion_afectada;
    html_tbody += "</td>";
    html_tbody += "<td>";
    html_tbody += "<a class='dropdown-item btn-delete'>";
    html_tbody += "<img src='./images/sho/delete.svg' alt='' fill='#ff3636'>";
    html_tbody += "</a>";                    
    html_tbody += "</td>";
    html_tbody += "</tr>";

    $("#table_sp4EnferCron_intercon_diagCIE10 tbody").append(html_tbody);

  }); 

  if($(".table-container tbody tr").length > 1 ){
    $(".table-empty").addClass('d-none');
  }*/

});

function addDiagnosticoCIE10(){

  if (validationForm('check-diagnosticocie10').length > 0) {
    return;
  }

  Numero_Filas = $("#table_sp4EnferCron_intercon_diagCIE10 tbody tr").length;

  if(Numero_Filas == 1 ){
    $('#table_sp4EnferCron_intercon_diagCIE10').find('.table-empty').addClass('d-none');
  }

  html_tbody = "<tr>";
  html_tbody += "<td>"+$("#sp4EnferCron_intercon_diagCIE10_diag").val()+"</td>";
  html_tbody += "<td>"+$("#sp4EnferCron_intercon_diagCIE10_cie10").val()+"</td>";
  html_tbody += "<td>"+new Date().toLocaleDateString('en-GB').split('T')[0]+"</td>";
  html_tbody += "<td>Especialidad</td>";
  html_tbody += "<td>"+$("#sp4EnferCron_intercon_diagCIE10_sisa option:selected").text()+"</td>";
  html_tbody += "<td width='500px'>"+$("#sp4EnferCron_intercon_diagCIE10_seca option:selected").text()+"</td>";
  html_tbody += "<td>";
  html_tbody += "<a class='dropdown-item btn-delete'>";
  html_tbody += "<img src='./images/sho/delete.svg' alt='' fill='#ff3636'>";
  html_tbody += "</a>";
  html_tbody += "</td>";
  html_tbody += "</tr>";

  $("#table_sp4EnferCron_intercon_diagCIE10 tbody").append(html_tbody);
  $("#table_sp4EnferCron_intercon_diagCIE10-count-row").text(Numero_Filas);
  $(".check-diagnosticocie10 option[value='']").prop("selected",true);
  $(".check-diagnosticocie10").val('');

}

</script>

<!-- JS Enfermedades Cronicas -->
<script src="view/sho-hce/enfermedades_cronicas/js/JSEnfermedades_Cronicas.js"></script>

<!-- Otras Librerias JS -->
<script src="js/sweetalert2.js"></script>
<script src="js/jquery.mask.min.js"></script>
<script src="js/svg-inject.min.js"></script>
